
    <form id="seach_form" method="post">

        <div style="width: 351px;float:left;">

            <div class="fitem" >
                <label>组织树：</label>
                <input id="s_group_name" type="text" class="easyui-combotree" name="group_id" style="width: 160px;height: 30px" data-options="url:'{:U("GroupInfo/getGroupInfosToTree")}',"/>
            </div>
            <div class="fitem" >
                <label>车牌号：</label>
                <input id="s_vehicle_license" type="text" class="easyui-textbox" name="vehicle_license" style="width: 160px;height: 30px"/>
            </div>
            <div class="fitem" >
                <label>驾驶员名称：</label>
                <input id="s_vehicle_driver" type="text" class="easyui-textbox" name="vehicle_driver" style="width: 160px;height: 30px"/>
            </div>
            <div class="fitem" >
                <label>车辆品牌：</label>
                <input id="s_vehicle_brand" type="text" class="easyui-textbox" name="vehicle_brand" style="width: 160px;height: 30px"/>
            </div>
        </div>

    </form>
