<div id="div_ftitle1" class="ftitle">车辆详情预览</div>
<form>
    <div style="width:50%;float:left;">

        <div class="fitem">
            <label>车牌号：</label>
            <input id="inp_vehicle_license_view" style="width: 160px;height: 30px" class="easyui-textbox" data-options="readonly:true" />
        </div>

        <div class="fitem">
            <label>车辆品牌：</label>
            <input id="inp_vehicle_brand_view" class="easyui-textbox" data-options="readonly:true" style="width: 160px;height: 30px"/>
        </div>
        <div class="fitem">
            <label>车辆型号：</label>
            <input id="inp_vehicle_model_view" class="easyui-textbox" data-options="readonly:true" style="width: 160px;height: 30px"/>
        </div>

        <div class="fitem">
            <!-- 调整大小-->
            <label>车辆说明：</label>
            <input id="inp_vehicle_explain_view" class="easyui-textbox" data-options="readonly:true" style="width: 160px;height: 30px"/>
        </div>

        <div class="fitem">
            <label>购入日期：</label>
            <input id="inp_vehicle_buy_date_view" class="easyui-textbox" data-options="readonly:true" style="width: 160px;height: 30px"/>
        </div>
        <div class="fitem">
            <label>购买价格(RMB)：</label>
            <input id="inp_vehicle_buy_price_view" class="easyui-numberbox"
                   data-options="readonly:true" style="width: 160px;height: 30px"/>
        </div>
    </div>
    <div style="width:50%;float:left;">
        <div>
            <label style="margin-left:20px;">车辆照片：</label>
            <img id="img_photo_view" alt="车辆照片预览" style=" width:220px; height:220px;padding-top: 6px"/>
        </div>
    </div>
</form>