<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>


    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">
    <!--<link rel="stylesheet" href="__STATIC__/Font/iconfont.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">

    <script type="text/javascript" src="__STATIC__/BaiduMap/baidu_offline_api.js"></script>

    <script src="__Manager_JS__/BMapUtils.js"></script>


    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <script type="text/javascript" src="__JS__/main.js"></script>



    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="easyui-layout">
<div id="Params" data-options="region:'west',collapsible:true" style="width: 20%;height:100%;">
    <div style="width:100%;padding-top: 20px">

        <h3 style="padding-left: 5px">【车牌号】{$vehicle_license}</h3>
        <br>
        <h4 style="padding-left: 5px">查询条件：</h4>
        <div class="fitem" style="padding-left: 24px">
            <br><br><input type="radio" checked name="adminFlag" value="300" onclick="custorm(false)">最近5分钟</input>
            <br><br><input type="radio" name="adminFlag" value="1800" onclick="custorm(false)">最近30分钟</input>
            <br><br><input type="radio" name="adminFlag" value="3600" onclick="custorm(false)">最近1小时</input>
            <br><br><input type="radio" name="adminFlag" value="86400" onclick="custorm(false)">最近1天</input>
            <br><br><input type="radio" name="adminFlag" value="-1" onclick="custorm(true)">自定义</input>
        </div>
        <div id="timeBar" hidden="hidden" style="padding-top: 10px;padding-left: 24px">
            <div class="fitem" style="padding: 5px 0px">
                <label>开始时间：</label><br/>
                <input id= "setting_start_time" style="width: 160px;"/>
            </div>
            <div class="fitem">
                <label>结束时间：</label><br/>
                <input id= "setting_end_time" style="width: 160px;"/>
            </div>
        </div>


        <div class="fitem" style="padding-top: 20px ;padding-left: 24px ">
            <a href="#" class="easyui-linkbutton" style="width: 100px" data-options="iconCls:'icon-search'" onclick="searchHistory()">查找</a>
        </div>
        <br/>

        <hr>
        <br/>

        <h4 style="padding-left: 5px">查询结果：</h4>
        <div id="resultDesc" hidden="hidden" style="padding-top: 10px;padding-left: 24px">
            <p id="searchDesc"></p>
            <p id="searchResult"></p>
        </div>

    </div>

</div>

<div data-options="region:'center'" style="width: 80%;height: 100%;">
    <div id="map" style="width: 100%;height: 100%">
    </div>

</div>

<script>


    if (document.createElement('canvas').getContext) {  // 判断当前浏览器是否支持绘制海量点

    } else {
        alert('请使用chrome、safari、IE8+以上浏览器');
    }
    function custorm(isCustorm){
        if (isCustorm){
            $('#timeBar').show();

        }else{
            $('#timeBar').hide();

        }
    }

    var historyPoint = [];

    $('#setting_start_time').datetimebox({
        value: formatDate()
    });
    $('#setting_end_time').datetimebox({
        value: formatDate()
    });

    //    初始化地图
    init("map");
    //    车辆基础信息
    var car = {
        "carinfo":JSON.parse('{$data}')
    };
    var directionDesc = ["正北","东北","正东","东南","正南","西南","正西","西北"];

    //  屏蔽右键点击
    $(document).on("contextmenu", function (event) {
        event.preventDefault();
    });

    function formatDate(date) {
        var now = new Date();;
        if(date){
            now = date;
        }

        var year=now.getYear();
        year = year < 1900 ? 1900+year : year;
        var month=now.getMonth()+1;
        var date=now.getDate();
        var hour=now.getHours();
        var minute=now.getMinutes();
        var second=now.getSeconds();
        return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
    }

    function searchHistory(){
        var endTime = new Date().getTime()/1000;
        var startTime = endTime;
        var offsetTime = $(":radio:checked").val();
        if(offsetTime != -1){
            startTime = endTime - offsetTime;
        }else{
            var d1 = $('#setting_start_time').datetimebox('getValue');

            var d2 = $('#setting_end_time').datetimebox('getValue');
            //开始时间
            var sta_str = d1.replace(/-/g,"/");
            var sta_date = new Date(sta_str);
            //结束时间
            var end_str = d2.replace(/-/g,"/");//一般得到的时间的格式都是：yyyy-MM-dd hh24:mi:ss，所以我就用了这个做例子，是/的格式，就不用replace了。
            var end_date = new Date(end_str);//将字符串转化为时间

            startTime = sta_date.getTime()/1000;
            endTime = end_date.getTime()/1000;

            if(startTime>endTime){
                $.messager.alert('提示','开始时间不能晚于结束时间','error');
                return;
            }
        }

        console.log("时间戳是：",startTime,"-",endTime);

        var startStr = formatDate(new Date(parseInt(startTime)*1000));
        var endStr = formatDate(new Date(parseInt(endTime)*1000));
        console.log("时间是：",startStr,"-",endStr);
        refreshResultDiv("<h5>查询时间段是：</h5>"+startStr+" 到 "+endStr,'searchDesc');
        $.ajax({
            url: "{:U('Gps/Index/getHistoryGps')}",
            type: 'Post',
            dataType: 'Json',
            data: {
                "vehicle_id":car.carinfo.vehicle_id,
                "start_time":startStr,
                "end_time":endStr,
                "convert_type":2
            },
            success: function (result) {

                if(result.statusCode == 200){
                    console.log(result);
                    historyPoint = [];
                    if(result.data){
                        for(i = 0; i < result.data.length; i++){
                            historyPoint.push(result.data[i]);
                        }
                        var resultDesc = "<br>共找到"+result.data.length+"条数据！";
                        refreshResultDiv(resultDesc,'searchResult');
                    }else{
                        var resultDesc = "<br>没有找到有效数据！";
                        refreshResultDiv(resultDesc,'searchResult');
                    }

////              TODO: 同时修改车辆状态！待测试
                    addMarkers();
                }else{
                    refreshResultDiv("<br>没有找到有效数据！",'searchResult');
                }

            },
            error: function(){
                refreshResultDiv("<br>没有找到有效数据！",'searchResult');
            }
        });

//        http://test.51zsqc.com/CourtGms/index.php?m=Gps&c=Index&a=getHistoryGps&vehicle_id=8&start_time=2016-09-22 15:43:25&end_time=2016-09-25 15:43:25

    }

    var tempMarker;
    var tempMarkerLabel;

    function addMarkers(){

        var points = [];  // 添加海量点数据
        map.clearOverlays();
        for (i = 0; i < historyPoint.length; i++) {
            var historyInfos = historyPoint[i];
            if(historyInfos){
                var lat = Number(historyInfos.lat).toFixed(6);
                var lng =  Number(historyInfos.lng).toFixed(6);
                if (i==0){
                    map.panTo(new BMap.Point(lng, lat));
                }
                var point = new BMap.Point(lng, lat);
                point.index = i;
                points.push(point);
            }
        }
        var options = {
            size: BMAP_POINT_SIZE_SMALL,
            shape: BMAP_POINT_SHAPE_WATERDROP,
            color: '#d340c3'
        }
        var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
        pointCollection.addEventListener('click', function (e) {
            var index = e.point.index;
            showInfoWin(index);
        });
        map.addOverlay(pointCollection);  // 添加Overlay
    }

    function showInfoWin(index){
        var historyInfo = historyPoint[index];
        var lat = Number(historyInfo.lat).toFixed(6);
        var lng =  Number(historyInfo.lng).toFixed(6);
        var div =
                '<div>'+
                '<h3 style="text-align: center;padding-bottom: 2px">'+car.carinfo.vehicle_license+'</h3><hr>'+
                '<p style="padding-top: 8px"><span class="car_info_title">经度：</span><span id="lng">'+ lng+'</span></p>'+
                '<p><span class="car_info_title">纬度：</span><span id="lat">'+lat+'</span></p>'+
                '<p><span class="car_info_title">速度：</span><span id="speed">'+historyInfo.speed+'km/h</span></p>'+
                '<p><span class="car_info_title">驾驶员：</span><span>'+car.carinfo.vehicle_driver+'</span></p>'+
                '<p><span class="car_info_title">上报时间：</span><span id="time">'+historyInfo.time+'</span></p>'+
                '</div>';

        var point = new BMap.Point(lng, lat);
        var opts = {
            width: 240,     // 信息窗口宽度
//                        height: 120,     // 信息窗口高度
//                        title : car.carinfo.vehicle_license // 信息窗口标题
        }
        var infoWindow = new BMap.InfoWindow(div, opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point);
    }


    function refreshResultDiv(content,id){
        if(content){

            $('#'+id).html(content);
            $('#resultDesc').show();
        }else{
            $('#resultDesc').html("<p id='searchDesc'></p><p id='searchResult'></p>");
            $('#resultDesc').hide();
        }
    }

</script>


</body>
</html>