<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">

    <script type="text/javascript" src="__STATIC__/BaiduMap/baidu_offline_api.js"></script>

    <script type="text/javascript" src="__Manager_JS__/BMapUtils.js"></script>

    <script charset="utf-8" src="__Manager_JS__/echarts.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <script type="text/javascript" src="__JS__/main.js"></script>


    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        .tree-header div {
            /*设置文本颜色*/
            color: #000000;
        }
        .car_info_title {
            padding-right: 16px;
            display:-moz-inline-box;
            display:inline-block;
            width: 50%;
        }
        .car_info_value {
            width: 20%;
            padding-right: 16px;
        }
        .car_info p{
            padding-left: 8px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .car_detail p{
            padding-left: 8px;
        }
        .car_status p {
            padding-left: 8px;
        }


        .fitem {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

        }

    </style>
</head>
<body class="easyui-layout">
<!--路径回放-->
    <div id="Params" data-options="region:'west',title:'查询设置',collapsible:true,headerCls:'tree-header'" style="width: 20%;height:100%;">
        <div style="width:100%">

            <div class="fitem">
                <label>车牌号码：{$vehicle_license}</label>
            </div>
            <div class="fitem">
                <label>开始时间：</label>
                <input id= "setting_start_time" style="width: 160px;"/>
            </div>
            <div class="fitem">
                <label>结束时间：</label>
                <input id= "setting_end_time" style="width: 160px;"/>
            </div>



            <div class="fitem" style="text-align: center">
                <a href="#" class="easyui-linkbutton" style="width: 100px" data-options="iconCls:'icon-search'" onclick="searchTrack()">查找</a>
            </div>
            <br>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
            <br>
            <div class="panel-title" style="color: black;padding: 5px">播放控制</div>
            <hr style="height:1px;border:none;border-top:1px solid #cccccc;" />
            <div class="fitem" >
                <label>回放速度：</label>
            </div>

            <div class="fitem">
                <input type="radio" name="adminFlag" onclick="changePlaySpeed(4000)"> 1/4倍 </input>
                <input type="radio" name="adminFlag" onclick="changePlaySpeed(2000)"> 1/2倍 </input>
                <input type="radio" name="adminFlag" onclick="changePlaySpeed(1000)" checked > 正 常</input>
                <input type="radio" name="adminFlag" onclick="changePlaySpeed(500)"> 2倍 </input>
                <input type="radio" name="adminFlag" onclick="changePlaySpeed(250)"> 4倍 </input>
            </div>

            <div class="fitem">
                <input type="checkbox" id="isFollowCar" style="padding-right: 16px"/> <span>跟随车辆</span>
            </div>

            <div class="fitem" style="text-align: center">
                <a href="#" id="btn_play" class="easyui-linkbutton" data-options="iconCls:'icon-track_play'"
                   onclick="play()">播放</a>
                <a href="#" id="btn_stop" class="easyui-linkbutton" data-options="iconCls:'icon-track_stop'"
                   onclick="stop()">停止</a>
            </div>
            <div class="fitem" >
                <label>当前进度：</label>
                <input id="play_progress_desc" style="width: 100px;text-align: center" readOnly="true" value="0/0"/>
                <div style="width: 100%;" >
                    <input id="play_progress" class="easyui-slider" value="0" data-options= "min:0,max:0,step:1,disabled:true">
                </div>
            </div>

        </div>

    </div>

    <div data-options="region:'center'" style="width: 80%;height: 100%;">

        <div class="easyui-layout" style="width: 100%;height: 100%">
            <div class="detailInfoList" data-options="region:'south',split:true,title:'数据分析',
                collapsible:true,collapsed:false,headerCls:'tree-header'" style="width: 100%;height: 30%;">

                <div id="tabs" class="easyui-tabs" data-options="tabPosition:'right',fit:true,tabWidth:80,headerWidth:80" style="width:100%;height:100%;">
                    <div title="GPS数据" style="width:100%;height:100%;">
                        <table id="dg_carGpsInfo" width="100%" height="100%"></table>
                    </div>
                    <div title="速度曲线" data-options="onResize:function(width,height){divResize(width,height)}" style="width:100%;height:100%">
                        <div id="charts" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>

            <div data-options="region:'center',split:true" style="width: 100%;height: 70%;text-align: center">
                <!--地图显示的div-->
                <div id="map" style="width: 100%;height: 100%">
                </div>

            </div>

        </div>
    </div>



<script>

    var speedDatas = [];
    var speedxAxis = [];

    var option = {
        grid:{
            top: 40,
            bottom: 40
        },

        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                console.log(params);
                params = params[0];
                var xAxis = params.name;
                var yAxis = params.value;

//                return params;
//                params = params[0];
//                var date = new Date(params.name);
                return "速度："+yAxis+" (km/h) <br> 时间："+xAxis;
            },
            axisPointer: {
                animation: false
            }
        },
        xAxis: {

            name: '时间',
            axisLabel:{
                // 使用函数模板，函数参数分别为刻度数值（类目），刻度的索引
                formatter: function (value, index) {
                    var temp = "" + value;
                    console.log(temp);
                    return temp.substr(5);
                }
            }
        },
        yAxis:
        {
            name: '速度(km/h)',
            type: 'value',
            max: 180,
        },

        series: [{
            name: '速度',
            type: 'line',
            showSymbol: false,
            hoverAnimation: false,
            data: speedDatas
        }]
    };

    var myChart = echarts.init(document.getElementById('charts'));
    myChart.setOption(option);
    function addMyChartxAxis(start,end){
        myChart.setOption({
            xAxis:{
                type: 'category',
                data: [start,end],
                boundaryGap: ['5%', '5%'],
                axisLabel: {
                    formatter: function (value, index) {
                        var temp = "" + value;
                        console.log(temp);
                        return temp.substr(5);
                    }
                }
            }
        });
    }

    function changeMyChartseries(data){
        console.log(data);
        speedxAxis.push(data.time);
        speedDatas.push(data.speed);
        myChart.setOption({
            xAxis:{
                data:speedxAxis
            },
            series:{
                type:'line',
                data:speedDatas
            }

        });
    }
    function resetMyChartseries(){
        speedDatas = [];
        speedxAxis = [];
        myChart.setOption({
            xAxis:{
                data:['暂无数据']
            },
            series:{
                type:'line',
                data:speedDatas
            }

        });
    }






    function divResize(width,height){
        if(myChart){
            $('#charts').height(height+'px');
            $('#charts').width(width+'px');
            myChart.resize();

        }else{

        }
    }

    var directionDesc = ["正北","东北","正东","东南","正南","西南","正西","西北"];
    var playSpeedDesc = ["较慢","慢","正常","快","较快"];
    var playSpeedValue = [1500,1200,900,600,300];
    var date = new Date();
    var todayDate = date.toLocaleDateString();
    var currNode;

//    线路点总数
    var total = 0;
//    当前选中项
    var currIndex = 0;
//    表示几秒进行切换
    var playSpeed = 1000;

    var trackPoints;
//    用于绘制线路的点
    var drawPoints = new Array();

    var isPlaying = false;

    function changePlaySpeed(value){
        playSpeed = value;
        if (isPlaying){
            clearInterval(interval);
            interval = setInterval(changeDataForPlay,playSpeed);
        }

    }

    $('#setting_start_time').datetimebox({
        value: todayDate+' 00:00:00',
    });
    $('#setting_end_time').datetimebox({
        value: todayDate+' 23:59:59',
    });

    //    车辆基础信息
    var car = {
        "carinfo":JSON.parse('{$data}')
    };
    var historyPoints = [];
    init();
    function searchTrack(){
        stop();
        map.clearOverlays();
        var start_time = $('#setting_start_time').datetimebox('getValue');
        if(start_time == ""){
            $.messager.alert('提示','开始时间不能为空','error');
            return;
        }
        var end_time = $('#setting_end_time').datetimebox('getValue');
        if(end_time == ""){
            $.messager.alert('提示','结束时间不能为空','error');
            return;
        }
        if(start_time>end_time){
            $.messager.alert('提示','开始时间不能晚于结束时间','error');
            return;
        }
//        if (numberOfTwoDay(end_time,start_time)>7){
//            $.messager.alert('提示','查询时间范围不能超过7天','error');
//            return;
//        }

        addMyChartxAxis(start_time,end_time);


        onLoading();
//        TODO: post 请求轨迹回放数据，

        $.ajax({
            url: "{:U('Gps/Index/getHistoryGps')}",
            data:{"vehicle_id":car.carinfo.vehicle_id,"start_time":start_time,"end_time":end_time,"convert_type":1},
            type: 'POST',
            dataType: 'Json',
            success:function(response){
                endLoading();

                if(response.statusCode == 200){

                    historyPoints = [];
                    var points = [];
                    for(i = 0; i < response.data.length; i++){
                        historyPoints.push(response.data[i]);
                        points.push(new BMap.Point(response.data[i].lng, response.data[i].lat));
                    }
                    //                        在这里要画条线

                    var polyline = new BMap.Polyline(points,
                            {strokeColor:"blue", strokeWeight:4, strokeOpacity:0.5}
                    );
                    map.addOverlay(polyline);


//                    var options = {
//                        size: BMAP_POINT_SIZE_SMALL,
//                        shape: BMAP_POINT_SHAPE_WATERDROP,
//                        color: '#d340c3'
//                    }
//                    var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
//                    map.addOverlay(pointCollection);  // 添加Overlay

                    total = points.length;
                    currIndex = 0;
                    var tempDesc = "0/"+total;
                    $("#play_progress_desc").val(tempDesc);

                    $('#play_progress').slider({
                        min:1,
                        max:total,
                        step:1,
                        value:currIndex,
                        disabled:false,
                        onComplete:function(value){
                            currIndex = value-1;
                            changeViewByIndex(currIndex,total);
                        }
                    });
                   if(total<=0){

                       showTipsMessage('该时间段没有数据！');
                   }else{
                       showTipsMessage('查询成功，共'+total+'条数据');

                   }

                }else{
                    showTipsMessage('数据太多，请调整查询参数！！');
                    return;
                }
            },
            error:function(){
                endLoading();
                showTipsMessage('查询失败，请稍后再试！');
            }

        });
    }



    function refreshCarGpsInfosGrid(){
        var data = {
            total:trackPoints.length,
            rows: trackPoints
        }
        console.log("刷新前的数据是：",data);
        $('#dg_carGpsInfo').datagrid("loadData",data);
    }

    $('#dg_carGpsInfo').datagrid({
        fitColumns: true,
        rownumbers: true,
        fit:true,
        columns: [[
            {field:'time',title: 'GPS时间',width:100},
            {field:'speed',title: '速度',width:100},
            {field:'direction',title: '方向',width:100,
                formatter: function(value,row,index){
                    var direction  = parseInt( value / 45);;

                    return directionDesc[direction];
                }},
            {field:'lng',title: '经度',width:100,
                formatter: function(value,row,index) {
                    return Number(value).toFixed(6);
                }
            },
            {field:'lat',title: '纬度',width:100,
                formatter: function(value,row,index) {
                    return Number(value).toFixed(6);
                }
            },
        ]],
    });



    function onLoading(){
        $("<div class=\"datagrid-mask\"></div>").css({display:"block",width:"100%",height:$(window).height()}).appendTo("#Params");//等待效果显示在wnavt控件
        $("<div class=\"datagrid-mask-msg\"></div>").html("数据请求中，请稍后...").appendTo("#Params").css({display:"block",left:($("#Params").width())/4,bottom:$("#Params").height()/2}); //上同

    }
    function endLoading(){
        $("#Params").find("div.datagrid-mask-msg").remove();
        $("#Params").find("div.datagrid-mask").remove();
    }


    function numberOfTwoDay(day1,day2){
        //结束时间
        var end_str = day1.replace(/-/g,"/");//一般得到的时间的格式都是：yyyy-MM-dd hh24:mi:ss，所以我就用了这个做例子，是/的格式，就不用replace了。
        var end_date = new Date(end_str);//将字符串转化为时间
        //开始时间
        var sta_str = day2.replace(/-/g,"/");
        var sta_date = new Date(sta_str);
        var num = (end_date-sta_date)/(1000*3600*24);//求出两个时间的时间差，这个是天数
        var days = parseInt(Math.ceil(num));//转化为整天（小于零的话剧不用转了）
        return days;
    }


    function changeDataForPlay(){
        if(isPlaying){

//            地图 修改标注位置
//            datagrid修改高亮情况
            console.log(currIndex);

            changeViewByIndex(currIndex,total);

            if(currIndex == total-1){
//                currIndex = total -1;
                isPlaying = false;
                clearInterval(interval);
                return;
            }
            currIndex++;
        }else{
            $('#btn_play').linkbutton({
                iconCls: 'icon-track_play',
                text: '播放'
            });
        }
    }

    var marker ;
    function changeViewByIndex(index,total){

//        $('#dg_carGpsInfo').datagrid('scrollTo',index);
//        $('#dg_carGpsInfo').datagrid('unselectAll',index);
//        $('#dg_carGpsInfo').datagrid('selectRow',index);

        if(total <= 1){
            return ;
        }

//        追加一条记录
        $('#dg_carGpsInfo').datagrid('appendRow',historyPoints[index]);

        var lastIndex = $('#dg_carGpsInfo').datagrid('getData').total - 1;
        $('#dg_carGpsInfo').datagrid('scrollTo',lastIndex);
//        取消所有
        $('#dg_carGpsInfo').datagrid('unselectAll');
//        选中最后一行
        $('#dg_carGpsInfo').datagrid('selectRow',lastIndex);

        $('#play_progress').slider('setValue',index+1);
        var tempDesc = (index+1)+"/"+total;
        $("#play_progress_desc").val(tempDesc);
//        更新地图坐标
        moveMarker(index);

        changeMyChartseries(historyPoints[index]);

    }

    function moveMarker(index){
        if(marker){
            var historyInfo = historyPoints[index];
            var lat = Number(historyInfo.lat).toFixed(6);
            var lng =  Number(historyInfo.lng).toFixed(6);
            var point = new BMap.Point(lng,lat);
            marker.setPosition(point);
            var direction = parseInt(historyInfo.direction/45);

//        var iconPath = '../CourtGms/Public/Manager/image/1/'+direction+'.gif';
            var key = 'online';

            if(historyInfo.speed>0){
                key = 'online';
            }else{
                key = 'online_stop';
            }

            var iconPath = "{:U('Manager/Index/getCarImageUrl')}"+"&key="+key+"&direction="+direction;
            var myIcon = new BMap.Icon(iconPath, new BMap.Size(30, 30), {
                // 图标中央下端的尖角位置。
                anchor: new BMap.Size(16, 16),
                imageSize: new BMap.Size(32, 32),
                // 设置图片偏移。
                // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您
                // 需要指定大图的偏移位置，此做法与css sprites技术类似。
                imageOffset: new BMap.Size(0, 0)   // 设置图片偏移
            });
            marker.setIcon(myIcon);

            var div =
                    '<h3 style="text-align: center;padding-bottom: 2px">'+car.carinfo.vehicle_license+'</h3><hr>'+
                    '<p style="padding-top: 8px"><span class="car_info_title">经度：</span><span id="lng">'+lng+'</span></p>'+
                    '<p><span class="car_info_title">纬度：</span><span id="lat">'+lat+'</span></p>'+
                    '<p><span class="car_info_title">速度：</span><span id="speed">'+historyInfo.speed+'km/h</span></p>'+
                    '<p><span class="car_info_title">驾驶员：</span><span>'+car.carinfo.vehicle_driver+'</span></p>'+
                    '<p><span class="car_info_title">上报时间：</span><span id="time">'+historyInfo.time+'</span></p>';
            $('#marker_infoWin').html(div);

            var isFollowCar = $("#isFollowCar").is(':checked');
            console.log(isFollowCar);
            if(isFollowCar){
                map.panTo(point);
            }

        }else{
            addMarker(index);
        }
    }


    function addMarker(index){
        if(marker){
            map.removeOverlay(marker);
            marker = null;
        }

        var historyInfo = historyPoints[index];
        var lat = Number(historyInfo.lat).toFixed(6);
        var lng =  Number(historyInfo.lng).toFixed(6);
        var point = new BMap.Point(lng,lat);
        marker = new BMap.Marker(point);

        var direction = parseInt(historyInfo.direction/45);

//        var iconPath = '../CourtGms/Public/Manager/image/1/'+direction+'.gif';
        var key = 'online';

        if(historyInfo.speed>0){
            key = 'online';
        }else{
            key = 'online_stop';
        }

        var iconPath = "{:U('Manager/Index/getCarImageUrl')}"+"&key="+key+"&direction="+direction;
        var myIcon = new BMap.Icon(iconPath, new BMap.Size(30, 30), {
            // 图标中央下端的尖角位置。
            anchor: new BMap.Size(16, 16),
            imageSize: new BMap.Size(32, 32),
            // 设置图片偏移。
            // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您
            // 需要指定大图的偏移位置，此做法与css sprites技术类似。
            imageOffset: new BMap.Size(0, 0)   // 设置图片偏移
        });
        marker.setIcon(myIcon);
        var shadowIcon = new BMap.Icon(iconPath,new BMap.Size(0,0));
        marker.setShadow(shadowIcon);
        
        var label = new BMap.Label(car.carinfo.vehicle_license);
        label.setOffset(new BMap.Size(32,20));
        marker.setLabel(label);

        var div =
                '<div id="marker_infoWin">'+
                '<h3 style="text-align: center;padding-bottom: 2px">'+car.carinfo.vehicle_license+'</h3><hr>'+
                '<p style="padding-top: 8px"><span class="car_info_title">经度：</span><span id="lng">'+lng+'</span></p>'+
                '<p><span class="car_info_title">纬度：</span><span id="lat">'+lat+'</span></p>'+
                '<p><span class="car_info_title">速度：</span><span id="speed">'+historyInfo.speed+'km/h</span></p>'+
                '<p><span class="car_info_title">驾驶员：</span><span>'+car.carinfo.vehicle_driver+'</span></p>'+
                '<p><span class="car_info_title">上报时间：</span><span id="time">'+historyInfo.time+'</span></p>'+
                '</div>';
        marker.div = div;


        marker.addEventListener("click", function(){
            var opts = {
                width : 300,     // 信息窗口宽度
//                        height: 120,     // 信息窗口高度
//                        title : car.carinfo.vehicle_license // 信息窗口标题
            }
            var infoWindow = new BMap.InfoWindow(div,opts);  // 创建信息窗口对象
            this.openInfoWindow(infoWindow, marker.point);
            //alert("您点击了标注");
        });
        map.addOverlay(marker);

    }



    var interval;
    function play(){
        //要进行播放了，
        if(!isPlaying){
            if(total<=0){
                return;
            }
            var historyInfo = historyPoints[currIndex];
            var lat = Number(historyInfo.lat).toFixed(6);
            var lng =  Number(historyInfo.lng).toFixed(6);
            var point = new BMap.Point(lng,lat);

            map.panTo(point);

            interval = setInterval(changeDataForPlay,playSpeed);
            isPlaying = true;
            $('#btn_play').linkbutton({
                iconCls: 'icon-track_pause',
                text: '暂停'
            });
        }
        //将要暂停了
        else{
            clearInterval(interval);
            isPlaying = false;
            $('#btn_play').linkbutton({
                iconCls: 'icon-track_play',
                text: '播放'
            });
        }
    }
//    重置
    function stop(){
        isPlaying = false;
        $('#btn_play').linkbutton({
            iconCls: 'icon-track_play',
            text: '播放'
        });
        if(historyPoints){
            total = historyPoints.length;
        }else{
            total = 0;
        }
        currIndex = 0;
        clearInterval(interval);
        var tempDesc = "0/"+total;
        $("#play_progress_desc").val(tempDesc);

        var data = {
            total:0,
            rows: []
        }
        $('#dg_carGpsInfo').datagrid("loadData",data);
        $('#play_progress').slider({
            min:1,
            max:total,
            step:1,
            value:currIndex,
            disabled:true,
            onComplete:function(value){
                currIndex = value-1;
                changeViewByIndex(currIndex,total);
            }
        });
        resetMyChartseries();

    }

    //显示右下角提示框
    function showTipsMessage(msg){
        $.messager.show({
            title:'提示',
            msg:msg,
            timeout:2000,
            showType:'slide',
//            style:{
//                left:0,
//                right:'',
//                bottom:0,
//                top:''
//            }
        });
    }

</script>
</body>

