<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Config_Bar" style="height: auto">
	<div class="item-title">
		<h3>配置模型</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Admin/Config/index')">
			<li><a href="{:U('Admin/Config/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Admin/Config/add')">
			<li><a href="{:U('Admin/Config/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Config_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
	<tr>
			<td colspan="2" class="required"><label for="for_name">配置名称:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["name"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置类型:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="type" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["type"]}',url:'{:U("Admin/Function/get_config")}&cname=CONFIG_TYPE_LIST|type|title&r_type=json',valueField:'type',textField:'title',multiple:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置说明:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="title" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["title"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置分组:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="group" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["group"]}',url:'{:U("Admin/Function/get_config")}&cname=CONFIG_GROUP_LIST|group|title&r_type=json',valueField:'group',textField:'title',multiple:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置参数:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="extra" value="{$_info["extra"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:100px;"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置说明:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="remark" value="{$_info["remark"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">状态:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="status" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["status"]}',multiple:false,required:false,editable:false"><option value="1" >启用</option><option value="0" >禁用</option></select></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">配置值:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="value" value="{$_info["value"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:100px;"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">排序:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="sort" value="{$_info["sort"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Config_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form>
</block>