<div >

    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 20px;">区域名称</span>
        <input id="fence_name" required="required" style="width: 40%;"/>
    </div>
    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <label style="margin-right: 8px;">中心点经度</label>
        <input id="fence_lng" readonly="true" style="width: 40%;"/>
    </div>
    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <label style="margin-right: 8px;">中心点纬度</label>
        <input id="fence_lat" readonly="true" style="width: 40%;"/>
    </div>
    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 44px;" readonly="true">半径</span>
        <input id="fence_radius"  style="width: 40%;"/>（千米）
    </div>

    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 20px;">区域类型</span>
        <!--<input id="fence_type" style="width: 80%;"/>-->
        <select id="fence_type"  class="easyui-combobox" data-options="editable:false"
                style="width:40%;">
            <option value="1">自定义区域</option>
            <option value="2">危险区域</option>
            <option value="3">违规区域</option>
            <option value="4">休息区</option>
            <option value="5">接驳点</option>
            <option value="6">普通区域</option>
        </select>
    </div>
    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 20px;">备注</span><br>
        <textarea id="fence_comments" style="margin-left:60px;width: 60%;height: 60px"/>
    </div>

    <div style="padding-left: 10%;padding-top:4px;width: 80%;text-align: center" >
        <button onclick="saveRectFence()">保存</button>
        <button onclick="closeWindows()">关闭</button>
    </div>
</div>

<script>

    function initFenceGrid(){
        //中心点
        var center = currFenceDatas.getCentroid();
        var components = currFenceDatas.components[0].components;
        var distance = 0;
        measureDistance(center,components[0],function(measureEventArgs){
            distance = measureEventArgs.result.distance/1000;
            $('#fence_radius').val(distance.toFixed(2));
        });
        $('#fence_lng').val(center.x.toFixed(6));
        $('#fence_lat').val(center.y.toFixed(6));


    }
    function closeWindows() {
        $( <?php echo"'#".$windowId."'";?>).window('close');
    }
    function saveRectFence(){
//        获取参数，并添加到数据库中。


        var rows = currFenceDatas.components[0].components;
        var datas = [];
        for (key in rows){
            datas.push({"lat":rows[key].y,"lng":rows[key].x});
        }
        var dataJsonString = JSON.stringify(datas);
        console.log("saveRectFence",dataJsonString);
        var title = $('#fence_name').val();
        var type = $('#fence_type').combobox('getValue');
        var comments = $('#fence_comments').val();
        var center_lat = $('#fence_lat').val();
        var center_lng = $('#fence_lng').val();
        var fence_radius = $('#fence_radius').val();



        if (!dataJsonString ){
            showTipsMessage("数据有误，请重新添加！");
            closeWindows();
        }
        if(!title){
            showTipsMessage("名称不能为空，请先录入名称！");
            return;
        }

        $.ajax({
            url: "{:U('Manager/Connection/addFenceForRing')}",
            data: {"title": title, "datas": dataJsonString, "type": type,"comments":comments,"center_lat":center_lat,"center_lng":center_lng,"radius":fence_radius},
            type: 'POST',
            success: function (response) {
                console.log("收到的是：",response);
                showTipsMessage('添加圆形围栏成功！');
                closeWindows();
            },
            error: function(){
                showTipsMessage('添加圆形围栏失败！请稍后再试！');
                closeWindows();
            }

        });
    }
    initFenceGrid();
</script>