
<div >

    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 12px;">区域名称</span>
        <input id="fence_name" required="true" style="width: 40%;"/>*
    </div>

    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 12px;">区域类型</span>
        <!--<input id="fence_type" style="width: 80%;"/>-->
        <select id="fence_type"  class="easyui-combobox" data-options="editable:false"
                style="width:40%;">
            <option value="1">自定义区域</option>
            <option value="2">危险区域</option>
            <option value="3">违规区域</option>
            <option value="4">休息区</option>
            <option value="5">接驳点</option>
            <option value="6">普通区域</option>
        </select>
    </div>
    <div style="padding-left: 10%;padding-top: 16px;width: 80%;text-align: left">
        <span style="margin-right: 12px;">备注</span><br>
        <textarea id="fence_comments" style="margin-left:60px;width: 60%;height: 60px"/>
    </div>
    <span style="padding-top: 16px;margin-right: 12px;padding-left: 10%;width: 80%;">区域范围</span>
    <div style="padding-left: 10%;padding-top:4px;width: 80%;text-align: center" >
        <table id="fence_rect_grid" class="easyui-datagrid">
        </table>
    </div>

    <div style="padding-left: 10%;padding-top:4px;width: 80%;text-align: center" >
        <button onclick="saveRectFence()">保存</button>
        <button onclick="closeWindows()">关闭</button>
    </div>
</div>

<script>

    function initFenceGrid(){
//        构建点
        var leftTop = {desc:"左上点",lng:currFenceDatas.left.toFixed(6),lat:currFenceDatas.top.toFixed(6)};
        var leftBottom = {desc:"左下点",lng:currFenceDatas.left.toFixed(6),lat:currFenceDatas.bottom.toFixed(6)};
        var rightTop = {desc:"右上点",lng:currFenceDatas.right.toFixed(6),lat:currFenceDatas.top.toFixed(6)};
        var rightBottom = {desc:"右下点",lng:currFenceDatas.right.toFixed(6),lat:currFenceDatas.bottom.toFixed(6)};

        var rows = [];
        rows.push(leftTop);
        rows.push(leftBottom);
        rows.push(rightTop);
        rows.push(rightBottom);
        console.log(JSON.stringify(rows));

        $('#fence_rect_grid').datagrid({
            fitColumns:true,
            striped:true,
            rownumbers:true,
            data:{
                total:4,
                rows:rows,
            },
            columns:[[
                {field:'desc',title:'描述',width:120},
                {field:'lng',title:'经度',width:120},
                {field:'lat',title:'纬度',width:120},
            ]]
        });
    }
    function closeWindows() {
        currFenceDatas = null;
        $( <?php echo"'#".$windowId."'";?>).window('close');
    }
    function saveRectFence(){
//        获取参数，并添加到数据库中。使用ajax

//        1.获取各个参数，
//        2.校验
//        3.上传。
        var dataJsonString = JSON.stringify($('#fence_rect_grid').datagrid('getData').rows);
        var title = $('#fence_name').val();
        var type = $('#fence_type').combobox('getValue');
        var comments = $('#fence_comments').val();

        if (!dataJsonString ){
            showTipsMessage("数据有误，请重新添加！");
            closeWindows();
            return;
        }
        if(!title){
            showTipsMessage("名称不能为空，请先录入名称！");
            return;
        }

        $.ajax({
            url: "{:U('Manager/Connection/addFenceForRect')}",
            data: {"title": title, "datas": dataJsonString, "type": type,"comments":comments},
            type: 'POST',
            success: function (response) {
                var result = JSON.parse(response)
                if (result.Code == 200){
                    showTipsMessage('添加矩形围栏成功！');
                }else{
                    showTipsMessage('添加矩形围栏失败！请稍后再试！');
                }
                closeWindows();
            },
            error: function(){
                showTipsMessage('添加矩形围栏失败！请稍后再试！');
                closeWindows();
            }

        });

    }
    initFenceGrid();
</script>