<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {:C('SOFT_NAME')}|Gms管理系统</title>
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="icon" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/themes/default.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">

    <link rel="stylesheet" type="text/css" href="__STATIC__/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">
    <link rel="stylesheet" href="__CSS__/skin.css" />
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>
    <script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__STATIC__/kindeditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="__STATIC__/Echarts/echarts.js"></script>
    <script charset="utf-8" src="__JS__/base.js" /></script><script>
	var ke_pasteType=2;
	var ke_fileManagerJson="{:U('Admin/FilesUpdata/filemanager')}";
	var ke_uploadJson="{:U('Admin/FilesUpdata/upload')}";
	var ke_Uid='{:session(C("AUTH_KEY"));}';
	var Root='__ROOT__';
	</script>
</head>
<body>
<block name="body"> </block>
</body>
</html>
