<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {:C('SOFT_NAME')}|Gms管理系统</title>
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="icon" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Font/iconfont.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/Bootstrap/js/html5shiv.min.js"></script>
    <script src="__STATIC__/Bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="__STATIC__/Jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__STATIC__/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<block name="body"> </block>
</body>
</html>
