.panel-tool a:hover {
    /*background-color: #E6E6E6;*/
    background-color: #137DD4;
}
/*此处修改对话框主体颜色*/
.window {
    background: #137dd4;
    /*background-color: #ffffff;*/
    /*background-color: #37485d;*/
}
.datagrid-toolbar {
    /*此处调整toobar 高度*/
    height: 30px;
}
.datagrid-header-row{
    /*此处修正grid标题行背景颜色*/
    /*background-color: #ebebeb;*/
    background-color: #fff;
}
.datagrid-row {
    /*此处修改datagrid行高*/
    height: 40px;

}
.datagrid-header td{
    /*此处修正grid标题行边线宽度*/
    border-width: 1px 0 1px 1px;
    border-style: dotted;
}
.datagrid-body td{
    /*此处修正grid内容行边线宽度*/
    border-width: 0 0 1px 1px;
    border-style: dotted;
}
.datagrid-header .datagrid-cell span {
    /*此处修改datagrid标题文字大小*/
    font-size: 13px;
}
.datagrid-cell-rownumber {
    /*此处修改datagrid内容文字大小*/
    font-size: 11px;
}
.datagrid-header .datagrid-cell span {
    /*此处修改datagrid标题文字大小*/
    font-size: 13px;
}
.datagrid-header td{
    border-style: solid;
    /*标题行间隔线颜色*/
    border-color: #dddddd;
}
.datagrid-body td{
    border-style: dashed;
    /*内容行间隔线颜色*/
    border-color: #dddddd;
}

.tabs-title {
    font-size: 15px;
}


.iconfont {
    color: #00bbee;

}
.ftitle {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.fitem span{
    color: red;
}

.fitem {
    padding: 6px;
    margin: 3px;
    height: 30px;
    /*background-color: #EEEEEE;*/
}

.fitem:nth-child(2n) {
    /*background-color: #F2F8FB;*/
}