<extend name="Public/base"/>
<block name="body">
  <div class="fixed-bar" id="Module_Bar" style="height: auto">
    <div class="item-title">
      <h3>模块</h3>
      <ul class="tab-base">
        <li><a class="current" href="JavaScript:void(0);" onclick="Data_Reload('Module_Data_List');"><span>列表</span></a></li>
      </ul>
    </div>
  </div>
  <table id="Module_Data_List">
  </table>
<script type="text/javascript">
$(function() {
    $("#Module_Data_List").datagrid({
        url: "{:U('Module/index')}",
        fit: true,
        striped: true,
        border: false,
        pagination: false,
        toolbar: '#Module_Bar',
        singleSelect: true,
		nowrap:false,
        columns: [[
        {
            field: "name",
            title: "模块名称[模块][版本]",
            width: 200,
            formatter: function(value, row, index) {
                return row.title + ' [' +row.name+ ']' + ' [' +row.version+ ']'
            }
        },
        {
            field: "description",
            title: "描述",
            width: 300
        },
        {
            field: "author",
            title: "作者[邮箱]",
            width: 200,
            formatter: function(value, row, index) {
                return '<a href="'+row.author_site+'" target="_blank">'+row.author + ' [' +row.author_email+ ']</a>'
            }
        },
        {
            field: "create_time",
            title: "安装时间",
            width: 140,
            formatter: function(value, row, index) {
				if(value>1){
                	return u_to_ymdhis(value)
				}else{
                	return '未安装'
				}
            }
        },
        {
            field: "update_time",
            title: "更新时间",
            width: 140,
            formatter: function(value, row, index) {
				if(value>1){
                	return u_to_ymdhis(value)
				}else{
                	return '未安装'
				}
            }
        },
        {
            field: "operate",
            title: "操作",
            width: 120,
            formatter: function(value, row, index) {
                operate_menu = '';
				if(row.status==1){
				<if condition="Is_Auth('Admin/Module/disabled')">
				if(row.disabled == 1){
					operate_menu = operate_menu+"<a href='#' onclick=\"Data_Ajax('<?php echo U('disabled'); ?>&modulename="+row.name+"&d=0','Module_Data_List','');\">禁用</a>";
				}else{
					operate_menu = operate_menu+"<a href='#' onclick=\"Data_Ajax('<?php echo U('disabled'); ?>&modulename="+row.name+"&d=1','Module_Data_List','');\">启用</a>";
				}
				if(row.isconfig == 1){
					operate_menu = operate_menu+" | <a href='<?php echo U('config'); ?>&modulename="+row.name+"'>配置</a>";
				}
				</if>
				<if condition="Is_Auth('Admin/Module/uninstall')">
				operate_menu = operate_menu+" | <a href='#' onclick=\"Data_Ajax('<?php echo U('uninstall'); ?>&modulename="+row.name+"','Module_Data_List','确认卸载模块 "+row.title + ' [' +row.name+ ']' + ' [' +row.version+ ']'+" 吗？');\">卸载</a>";
				</if>
				}
				<if condition="Is_Auth('Admin/Module/install')">
				if(row.status==0){
				operate_menu = operate_menu+"<a href='<?php echo U('install'); ?>&modulename="+row.name+"' >安装</a>";
				}
				</if>
				return operate_menu;
			}}
		]]
	});
})
</script>
</block>
