<!--实时视频-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>视频监控</title>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="__Manager_JS__/main.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">
    <!--<link rel="stylesheet" href="__STATIC__/Font/iconfont.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">

    <link rel="stylesheet" type="text/css" href="__STATIC__/Tipper/css/jquery.fs.tipper.css">
    <script type="text/javascript" src="__STATIC__/Tipper/js/jquery.fs.tipper.js"></script>



    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">

    <link rel="stylesheet" type="text/css" href="__Manager_KEDA__/css/style.css">

    <script type="text/javascript" src="__Manager_KEDA__/js/base64.js"></script>

    <script type="text/javascript" src="__Manager_JS__/realVideo.js"></script>



    <style>
        .tipped {}
        .tipped:hover {}
    </style>


    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            font-size:9pt;

        }
        .tree-header div {
            /*设置文本颜色*/
            color: #000000;
        }
        .fitem {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

        }
        /*修改Window样式*/
        .window {
            background-color: #35383A;
        }
        .tree-node {
            height: 24px;
            font-size: large;
        }
        .tree-title {
            font-size: 16px;
            line-height: normal;
        }

    </style>
    <script type="text/javascript">
        function myBrowser(){
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            var isOpera = userAgent.indexOf("Opera") > -1;
            if (isOpera) {
                return "Opera"
            }; //判断是否Opera浏览器
            if (userAgent.indexOf("Firefox") > -1) {
                return "FF";
            } //判断是否Firefox浏览器
            if (userAgent.indexOf("Chrome") > -1){
                return "Chrome";
            }
            if (userAgent.indexOf("Safari") > -1) {
                return "Safari";
            } //判断是否Safari浏览器
            if (userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera) {
                return "IE";
            }; //判断是否IE浏览器
        }

        $(document).ready(function (){
            if(CheckBrowserVersion()){
                CheckOcxReg();
            }
            $(".tipped").tipper();
//            1.获取车辆列表，并构建树
//            InitDeviceTree();
//            2.初始化角度调整进度条
            InitPtzSpeedSlider();
//            3.初始化音量调节控件
//            InitRealPlayVolumeSlider();
//            4.初始化按钮选中与否状态
            InitScreenStyle();
            initPtzCtrl();
//            TODO：需要设置一些初始化信息，比如说，更改图标状态。
            document.getElementById("mcuocx").focus();

        });

    </script>
    <meta name="renderer" content="ie-comp">

</head>
<body class="easyui-layout">
<script type="text/javascript">
    <!-- 当窗口关闭后，释放资源-->
    window.onunload = function() {
        UnInitMcuOcx();
        return true;
    }
</script>

<div id="Params" data-options="region:'west',title:'车辆列表',collapsible:true,headerCls:'tree-header'" style="width: 20%;height:100%;">
    <div style="width:100%">
        <!--双击选择要查看的车辆.-->
        <div>
            <ul id="tt" checkbox="false">
            </ul>
        </div>

    </div>
</div>

<div id="main_layout" data-options="region:'center'" style="width: 80%;height: 100%;">

    <div id="main_top" class="easyui-layout" data-options="fit:true" style="width: 100%;height: 100%;background-color: #35373C;">
        <div data-options="region:'north',split:false" style="width: 100%;height: 30px;">
            <table id="id_playtitletab" width="100%" height="100%" bgcolor="#35373C">
                <tr>
                    <td id="id_ptzCtrl" class="ctrlptzhide tipped" data-title="开启/关闭  PTZ控制面板" data-tipper-options='{"direction":"right"}' width="50px" onclick="ClickPtzCtrlBtn()" ></td>
                    <td id="id_singlesrceen" class="singlesrceen tipped" data-title="单窗口" data-tipper-options='{"direction":"right"}'  width="26px" onclick="ClickSingleScreen()" ></td>
                    <td id="id_foursrceen" class="foursrceen tipped" data-title="四窗口" data-tipper-options='{"direction":"right"}' width="26px" onclick="ClickFourScreen()"></td>
                    <td id="id_ninesrceen" class="ninesrceen tipped" data-title="九窗口" data-tipper-options='{"direction":"right"}' width="26px" onclick="ClickNineScreen()"></td>
                    <td id="id_sixteensrceen" class="sixteensrceen tipped" data-title="十六窗口" data-tipper-options='{"direction":"right"}' width="26px" onclick="ClickSixteenScreen()"></td>
                    <td>
                        <div id="id_curdevinfo" align="center" style="font-size:14px;color:#DDDDDD"></div>
                    </td>
                    <td align="right" width="50px">
                        <button id="id_btnviewhigh" disabled="disabled" style="border: solid #008DC4 1px" class="btnviewhigh" onclick="ClickViewHighBtn()">清晰</button>
                    </td>
                    <td align="right" width="50px" style="padding-right: 20px">
                        <button id="id_btnviewlow"   class="btnviewlow" style="border: solid #008DC4 0px" onclick="ClickViewLowBtn()">流畅</button>
                    </td>
                    <td width="10px"></td>
                </tr>
            </table>
        </div>
        <div id="main_center" data-options="region:'center',split:true,collapsible:true" style="width: 100%;background-color: #006600">
           <!-- 图形主界面-->
           <div id="ocxCenter" class="easyui-layout"  style="width: 100%;height: 100%;">
               <div id="ptzPanel" data-options="region:'west',split:false" style="width: 0px;height: 100%;background:#35383A">
                   <table id="id_leftpanal" width="100%" height="200px" >
                       <tr>
                           <td id="id_ptztitleTD" width="100%" height="35px" style="background:#292C2E;color: white">PTZ面板</td>
                       </tr>
                       <tr style="padding-top: 16px">
                           <td id="id_ptzTD" width="100%" height="147px" style="background:#35383A" valign="top" align="center">
                               <div style="float:left;width:100%;height:5px"></div>
                               <div style="float:left">&nbsp;</div>
                               <div style="float:left">
                                   <table bordercolor="#35383A" width="100px" height="100px" background="__Manager_KEDA__/images/realplay/ptz-bj.png">
                                       <tr>
                                           <td width="33%" id="id_ptzleftup" class="ptzleftup" onclick="ClickPTZLeftUp()" onmouseover="OverPTZLeftUp()"
                                               onmouseout="OutPTZLeftUp()" onmousedown="DownPTZLeftUp()" onmouseup="UpPTZLeftUp()"></td>
                                           <td width="33%" id="id_ptzup" class="ptzup" onclick="ClickPTZUp()" onmouseover="OverPTZUp()"
                                               onmouseout="OutPTZUp()" onmousedown="DownPTZUp()" onmouseup="UpPTZUp()"></td>
                                           <td width="33%" id="id_ptzrightup" class="ptzrightup" onclick="ClickPTZRightUp()" onmouseover="OverPTZRightUp()"
                                               onmouseout="OutPTZRightUp()" onmousedown="DownPTZRightUp()" onmouseup="UpPTZRightUp()"></td>
                                       </tr>
                                       <tr>
                                           <td width="33%" id="id_ptzleft" class="ptzleft" onclick="ClickPTZLeft()" onmouseover="OverPTZLeft()"
                                               onmouseout="OutPTZLeft()" onmousedown="DownPTZLeft()" onmouseup="UpPTZLeft()"></td>
                                           <td width="33%" id="id_ptzreset" class="ptzreset" onclick="ClickPTZReset()" onmouseover="OverPTZReset()"
                                               onmouseout="OutPTZReset()" onmousedown="DownPTZReset()" onmouseup="UpPTZReset()"></td>
                                           <td width="33%" id="id_ptzright" class="ptzright" onclick="ClickPTZRight()" onmouseover="OverPTZRight()"
                                               onmouseout="OutPTZRight()" onmousedown="DownPTZRight()" onmouseup="UpPTZRight()"></td>
                                       </tr>
                                       <tr>
                                           <td width="33%" id="id_ptzleftdown" class="ptzleftdown" onclick="ClickPTZLeftDown()" onmouseover="OverPTZLeftDown()"
                                               onmouseout="OutPTZLeftDown()" onmousedown="DownPTZLeftDown()" onmouseup="UpPTZLeftDown()"></td>
                                           <td width="33%" id="id_ptzdown" class="ptzdown" onclick="ClickPTZDown()" onmouseover="OverPTZDown()"
                                               onmouseout="OutPTZDown()" onmousedown="DownPTZDown()" onmouseup="UpPTZDown()"></td>
                                           <td width="33%" id="id_ptzrightdown" class="ptzrightdown" onclick="ClickPTZRightDown()" onmouseover="OverPTZRightDown()"
                                               onmouseout="OutPTZRightDown()" onmousedown="DownPTZRightDown()" onmouseup="UpPTZRightDown()"></td>
                                       </tr>
                                   </table>
                               </div>
                               <div style="float:left">&nbsp;</div>
                               <div style="float:left">
                                   <table bordercolor="#35383A" width="67px" height="33px" background="__Manager_KEDA__/images/realplay/ptz-bj.png">
                                       <tr>
                                           <td width="50%" id="id_ptzfocusfar" class="ptzfocusfar" onclick="ClickPTZFocusFar()" onmouseover="OverPTZFocusFar()"
                                               onmouseout="OutPTZFocusFar()" onmousedown="DownPTZFocusFar()" onmouseup="UpPTZFocusFar()"></td>
                                           <td width="50%" id="id_ptzfocusnear" class="ptzfocusnear" onclick="ClickPTZFocusNear()" onmouseover="OverPTZFocusNear()"
                                               onmouseout="OutPTZFocusNear()" onmousedown="DownPTZFocusNear()" onmouseup="UpPTZFocusNear()"></td>
                                       </tr>
                                   </table>
                               </div>
                               <div style="float:left;width:100%;height:5px" align="center">
                               <table>
                                   <tr style="line-height:35px;">
                                       <td width="10%"><img src="__Manager_KEDA__/images/realplay/step_normal.png"/></td>
                                       <td width="80%">
                                           <div id="id_ptzspeed">
                                           </div>
                                       </td>
                                       <td width="10%">
                                   </tr>
                               </table>
                               </div>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <div id="id_devicelist" style="background:#292C2E;display:none">
                                   <div id="id_devtree" style="width:200px;" align="left">
                                       <div style="height:100%;width:200px;overflow:hidden;">
                                           <div id="tree" style="display:inline;"></div>
                                       </div>
                                   </div>
                                   <div id="id_liulanbtn" style="width:200px;margin-top:5px;padding-bottom:5px" align="center">
                                       <button id="id_comfirmdevice" class="btntool" onclick="id_ptzshowctrl()"
                                               style="width:150px">浏览</button>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </table>
               </div>
               <div data-options="region:'center',split:false,fit:true" style="width:100%;">
                   <div id="id_playwindow" class="divplaywindow" style="width: 100%;height: 100%;">
                       <object id="mcuocx" name="name_mcuocx" classid="clsid:24E9635B-FE64-47A0-B0E0-A76E0E06B3D0" style="width:100%;height:100%;"></object>
                   </div>
               </div>
           </div>



        </div>
        <div id="main_bottom" data-options="region:'south',split:false" style="width: 100%;height: 40px;background-color: #35373C;">
            <table id="id_playbottom" width="100%" height="30px">
                <tr height="28px">
                    <td width="10px"></td>
                    <td id="id_ctrlplay" class="ctrlplay tipped" data-title="停止当前浏览窗口" data-tipper-options='{"direction":"right"}'  width="28px" onclick="ClickCtrlPlay()" ></td>
                    <td id="id_ctrlvolume" class="ctrlvolume tipped" data-title="开启/关闭 声音" data-tipper-options='{"direction":"right"}' width="30px" onclick="ClickCtrlVolume()"></td>
                    <!--<td id="id_ctrlvolume" class="ctrlvolume" width="28px"></td>-->
                    <!-- 音量调整 -->
                    <!--<td width="100px"><div id="id_volumevalue"/></td>-->
                    <td id="id_audiocall" class="audiocall tipped" data-title="开启/关闭 对讲" data-tipper-options='{"direction":"right"}' width="28px" onclick="ClickCtrlAudioCall()" ></td>
                    <!-- 暂时屏蔽<td id="id_realsnap" class="realsnap" width="28px" onclick="ClickCtrlSnap()" onmouseover="OverCtrlSnap()"
                    onmouseout="OutCtrlSnap()" onmousedown="DownCtrlSnap()" onmouseup="UpCtrlSnap()"></td>
                    <td id="id_realrecoder" class="realrecoder" width="28px" onclick="ClickCtrlRealRecoder()" onmouseover="OverCtrlRealRecoder()"
                    onmouseout="OutCtrlRealRecoder()" onmousedown="DownCtrlRealRecoder()" onmouseup="UpCtrlRealRecoder()"></td>
                    <td id="id_realzoomin" class="realzoomin" width="28px" onclick="ClickCtrlZoomIn()" onmouseover="OverCtrlZoomIn()"
                    onmouseout="OutCtrlZoomIn()" onmousedown="DownCtrlZoomIn()" onmouseup="UpCtrlZoomIn()"></td>
                    -->
                    <td></td>
                    <td id="id_fullscreen" class="fullscreen tipped" data-title="全屏" data-tipper-options='{"direction":"left"}' width="28px" onclick="ClickFullScreen()" ></td>
                    <td width="10px"></td>

                </tr>
            </table>
        </div>

    </div>

</div>

<div id="ptzWin" class="easyui-window"  style="background:#35383A;"
     data-options="shadow:false,title: 'PTZ面板',closed:true,top: 60,left: 0,modal:false,resizable:false,inline:true,collapsible:false,minimizable:false,maximizable:false">
    <table id="id_leftpanal" width="60px" height="200px">
        <tr>
            <td id="id_ptzTD" width="100%" height="147px" style="background:#35383A" valign="top" align="center">
                <div style="float:left;width:100%;height:5px"></div>
                <div style="float:left">&nbsp;</div>
                <div style="float:left">
                    <table bordercolor="#35383A" width="100px" height="100px" background="__Manager_KEDA__/images/realplay/ptz-bj.png">
                        <tr>
                            <td width="33%" id="id_ptzleftup" class="ptzleftup" onclick="ClickPTZLeftUp()" onmouseover="OverPTZLeftUp()"
                                onmouseout="OutPTZLeftUp()" onmousedown="DownPTZLeftUp()" onmouseup="UpPTZLeftUp()"></td>
                            <td width="33%" id="id_ptzup" class="ptzup" onclick="ClickPTZUp()" onmouseover="OverPTZUp()"
                                onmouseout="OutPTZUp()" onmousedown="DownPTZUp()" onmouseup="UpPTZUp()"></td>
                            <td width="33%" id="id_ptzrightup" class="ptzrightup" onclick="ClickPTZRightUp()" onmouseover="OverPTZRightUp()"
                                onmouseout="OutPTZRightUp()" onmousedown="DownPTZRightUp()" onmouseup="UpPTZRightUp()"></td>
                        </tr>
                        <tr>
                            <td width="33%" id="id_ptzleft" class="ptzleft" onclick="ClickPTZLeft()" onmouseover="OverPTZLeft()"
                                onmouseout="OutPTZLeft()" onmousedown="DownPTZLeft()" onmouseup="UpPTZLeft()"></td>
                            <td width="33%" id="id_ptzreset" class="ptzreset" onclick="ClickPTZReset()" onmouseover="OverPTZReset()"
                                onmouseout="OutPTZReset()" onmousedown="DownPTZReset()" onmouseup="UpPTZReset()"></td>
                            <td width="33%" id="id_ptzright" class="ptzright" onclick="ClickPTZRight()" onmouseover="OverPTZRight()"
                                onmouseout="OutPTZRight()" onmousedown="DownPTZRight()" onmouseup="UpPTZRight()"></td>
                        </tr>
                        <tr>
                            <td width="33%" id="id_ptzleftdown" class="ptzleftdown" onclick="ClickPTZLeftDown()" onmouseover="OverPTZLeftDown()"
                                onmouseout="OutPTZLeftDown()" onmousedown="DownPTZLeftDown()" onmouseup="UpPTZLeftDown()"></td>
                            <td width="33%" id="id_ptzdown" class="ptzdown" onclick="ClickPTZDown()" onmouseover="OverPTZDown()"
                                onmouseout="OutPTZDown()" onmousedown="DownPTZDown()" onmouseup="UpPTZDown()"></td>
                            <td width="33%" id="id_ptzrightdown" class="ptzrightdown" onclick="ClickPTZRightDown()" onmouseover="OverPTZRightDown()"
                                onmouseout="OutPTZRightDown()" onmousedown="DownPTZRightDown()" onmouseup="UpPTZRightDown()"></td>
                        </tr>
                    </table>
                </div>
                <div style="float:left">&nbsp;</div>
                <div style="float:left">
                    <table bordercolor="#35383A" width="67px" height="33px" background="__Manager_KEDA__/images/realplay/ptz-bj.png">
                        <tr>
                            <td width="50%" id="id_ptzfocusfar" class="ptzfocusfar" onclick="ClickPTZFocusFar()" onmouseover="OverPTZFocusFar()"
                                onmouseout="OutPTZFocusFar()" onmousedown="DownPTZFocusFar()" onmouseup="UpPTZFocusFar()"></td>
                            <td width="50%" id="id_ptzfocusnear" class="ptzfocusnear" onclick="ClickPTZFocusNear()" onmouseover="OverPTZFocusNear()"
                                onmouseout="OutPTZFocusNear()" onmousedown="DownPTZFocusNear()" onmouseup="UpPTZFocusNear()"></td>
                        </tr>
                    </table>
                </div>
                <div style="float:left;width:100%;height:5px" align="center">
                <table>
                    <tr style="line-height:35px;">
                        <td width="10%"><img src="__Manager_KEDA__/images/realplay/step_normal.png"/></td>
                        <td width="80%">
                            <div id="id_ptzspeed">
                            </div>
                        </td>
                        <td width="10%">
                    </tr>
                </table>
                </div>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td>-->
                <!--<div id="id_devicelist" style="background:#292C2E;display:none">-->
                    <!--<div id="id_devtree" style="width:200px;" align="left">-->
                        <!--<div style="height:100%;width:200px;overflow:hidden;">-->
                            <!--<div id="tree" style="display:inline;"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="id_liulanbtn" style="width:200px;margin-top:5px;padding-bottom:5px" align="center">-->
                        <!--<button id="id_comfirmdevice" class="btntool" onclick="id_ptzshowctrl()"-->
                                <!--style="width:150px">浏览</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
</div>


<div id="mm1" class="easyui-menu" style="width:auto;">

    <div onclick="refresh()">刷新</div>
    <div onclick="scan()" data-options="disabled:true">浏览</div>
    <div class="menu-sep"></div>
    <div>关闭</div>
</div>
<div id="mm2" class="easyui-menu" style="width:auto;">

    <div onclick="refresh()" data-options="disabled:true">刷新</div>
    <div onclick="scan()">浏览</div>
    <div class="menu-sep"></div>
    <div>关闭</div>
</div>

<SCRIPT type="text/javascript" for="name_mcuocx" event="OcxEventCB(lEvent,lWndIndex,lReserve1,lReserve2)">
    DealRealPlayEvent(lEvent,lWndIndex,lReserve1,lReserve2);
</SCRIPT>
<script type="text/javascript" for="name_mcuocx" event="errorMessage(param1)">
    alert(param1);
</script>

<script>



    var cars;
    var currNode;
    $('#tt').tree({
        url: "{:U('Service/VehicleInterface/getVehicleListTreeFromK')}",

//        url:"{:U('Service/VehicleInfo/getVehicleListTest')}",
        onBeforeLoad: function (node, param) {
        },

        onLoadSuccess: function (node, data) {
//            每次加载要重置
            cars = new Object();
            var childrens = $("#tt").tree('getChildren');
            for (i = 0; i < childrens.length; i++) {
                var child = childrens[i];
                if (child.attributes.type == "car"){
                    var car_id = child.id % 1000000000;
                    cars[""+car_id] = new Object();
                    cars[""+car_id].carinfo = child.attributes.carinfo;
                    cars[""+car_id].car_license = child.attributes.carinfo.car_license;
                    cars[""+car_id].group_name = child.attributes.carinfo.group_name;
                    cars[""+car_id].group_id = child.attributes.carinfo.group_id;
                    cars[""+car_id].isOnline = false;
                }
            }
            getOnlineCarInfos();
        },
        onContextMenu: function (e, node) {
            e.preventDefault();
            if(node.attributes.type == "car_camera" )
            {
                currNode = node;
//                $('#setting').window('close')
                // select the node
                $('#tt').tree('select', node.target);
                // display context menu
                $('#mm2').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }else{
//                currNode = node;
                $('#mm1').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        },
        onDblClick:function(node){
            console.log(node);
            if(node.attributes.type == "car"){
                currNode = node;
                var carinfo = node.attributes.carinfo;
                var capNum = carinfo.cap_num;
//                TODO：这里需要修改
                if(!capNum){
                    capNum = 0;
                }
                var childrens = $('#tt').tree('getChildren',node.target);

                for(var i=0;i<childrens.length;i++){
                    var child = childrens[i];
                    $('#tt').tree('remove',child.target);
                }
                var data = [];
                for(var i=0;i<capNum;i++){
                    var icon = 'icon-car_camera';
                    data.push({
                        id: -1,
                        text: '通道'+(i+1),
                        attributes:{index:i,type:'car_camera',vehicle_id:carinfo.vehicle_id},
                        iconCls:icon

                    });
                }
                $('#tt').tree('append', {
                    parent: currNode.target,
                    data: data
                });
            }
            else if(node.attributes.type == "car_camera"){
            //点击摄像头，开启实时视频。
                var attributes = node.attributes;
                var car = cars[attributes.vehicle_id];
                var index = attributes.index;
                console.log("camera's car is: ",car);
//                TODO:需要的参数,测试数据，待修改
                //                  当前窗口
                g_testWndIndex = g_nCurWndIndex;
////                  设备名称
                g_testDevName = car.carinfo.vehicle_license+"_通道"+(index+1);
////                  设备域id：md5
//                g_testDevDomainId = node.data.domainid;
//                attributes.domain_id
                g_testDevDomainId = '97d24f19acc74f1bb709370b7948cd04';
                if(car.carinfo.domain_id){
                    g_testDevDomainId = car.carinfo.domain_id;
                }

////                  设备id：md5@kedacom
//                g_testDevId = node.data.devpuid;
//                attributes.device_id+"@kedacom"
                g_testDevId = car.carinfo.device_id +'@kedacom';
////                  通道编号：1 由0开始的。
//                g_testChan = node.data.channo;
                g_testChan = index;
////                  制造厂商：kedacom
//                g_testManu = node.data.manu;
                g_testManu = 'kedacom';
////                  是否在线：
//                g_testOnline = node.data.online;
                g_testOnline = 1;
                console.log(g_testWndIndex + " " + g_testDevName + " " + g_testDevDomainId + " " + g_testDevId + " " + g_testChan + " " + g_testManu);
////			alert(g_testWndIndex + " " + g_testDevName + " " + g_testDevDomainId + " " + g_testDevId + " " + g_testChan + " " + g_testManu);
                ClickComfirmDeviceBtn();
//                start();
            }else{
                getOnlineCarInfos();
            }
        }
    });

    function refresh(){
        getOnlineCarInfos();
    }
    function scan(){
        var attributes = currNode.attributes;
        var car = cars[attributes.vehicle_id];
        var index = attributes.index;
        console.log("camera's car is: ",car);
//                TODO:需要的参数,测试数据，待修改
        //                  当前窗口
        g_testWndIndex = g_nCurWndIndex;
////                  设备名称
        g_testDevName = car.carinfo.vehicle_license+"_通道"+(index+1);
////                  设备域id：md5
//                g_testDevDomainId = node.data.domainid;
//                attributes.domain_id
        g_testDevDomainId = '97d24f19acc74f1bb709370b7948cd04';
        if(car.carinfo.domain_id){
            g_testDevDomainId = car.carinfo.domain_id;
        }

////                  设备id：md5@kedacom
//                g_testDevId = node.data.devpuid;
//                attributes.device_id+"@kedacom"
        g_testDevId = car.carinfo.device_id +'@kedacom';
////                  通道编号：1 由0开始的。
//                g_testChan = node.data.channo;
        g_testChan = index;
////                  制造厂商：kedacom
//                g_testManu = node.data.manu;
        g_testManu = 'kedacom';
////                  是否在线：
//                g_testOnline = node.data.online;
        g_testOnline = 1;
        console.log(g_testWndIndex + " " + g_testDevName + " " + g_testDevDomainId + " " + g_testDevId + " " + g_testChan + " " + g_testManu);
////			alert(g_testWndIndex + " " + g_testDevName + " " + g_testDevDomainId + " " + g_testDevId + " " + g_testChan + " " + g_testManu);
        ClickComfirmDeviceBtn();
    }

    function getOnlineCarInfos(){
        resetCarState();
        $.ajax({
            url: "{:U('Gps/Index/getOnlineDevice')}",
//            url:"http://192.168.0.73/CourtGms/index.php?m=Gps&c=Index&a=getOnlineDevice",
            type: 'Post',
            dataType: 'Json',
            success: function (result) {
                console.log("result",result);
//                TODO： 这里获取在线列表，及可用通道。
                if(result.statusCode == 200) {
                    console.log(result);
                    var datas = result.data;
                    if(datas){
                        for(var i=0;i<datas.length;i++){
                            var id = datas[i].id;
                            var state = datas[i].state;
                            if(state==1){
                                var channelInfos = datas[i].channel
                                updateCarState(id,channelInfos);
                            }
                        }
                    }
                }
            },
            error: function(){

            }
        });
    }

    function updateCarState(vehicle_id,channelInfos){
        console.log("updateCarState:",vehicle_id,channelInfos);
        var childrens = $("#tt").tree('getChildren');
        for (var i = 0; i < childrens.length; i++) {
            var child = childrens[i];
            if (child.attributes.type == "car") {
                if(child.attributes.carinfo.vehicle_id == vehicle_id){
//                    这里设置车辆在线状态，并刷新其子节点
                    $('#tt').tree('update', {
                        target: child.target,
                        iconCls: 'icon-car_online'
                    });
                    var cs = $("#tt").tree('getChildren',child.target);
                    for(var j = 0;j<cs.length;j++){
                        $('#tt').tree('update', {
                            target: cs[j].target,
                            iconCls: 'icon-car_camera'
                        });
                    }
                    for (var j = 0;j<channelInfos.length;j++){
                        var index = channelInfos[j].index;
                        var state =  channelInfos[j].state;
                        if (state == 1){
                            $('#tt').tree('update', {
                                target: cs[index].target,
                                iconCls: 'icon-car_camera_online'
                            });
                        }
                                            }
                }
            }
        }
    }

    function resetCarState(){
        var childrens = $("#tt").tree('getChildren');
        for (i = 0; i < childrens.length; i++) {
            var child = childrens[i];
            if (child.attributes.type == "car") {
                $('#tt').tree('update', {
                    target: child.target,
                    iconCls: 'icon-car_offline'
                });

            }else if(child.attributes.type == "car_camera"){
                $('#tt').tree('update', {
                    target: child.target,
                    iconCls: 'icon-car_camera'
                });
            }
        }
    }
    var ptzCtrlhide = true;

    function initPtzCtrl(){
        $('#ptzPanel').hide();
        $('#ptzPanel').panel('minimize').panel('refresh');

        $('#ocxCenter').layout('panel', 'west').panel('resize',{width:0});
        $('#ocxCenter').layout('resize');
        document.getElementById("id_ptzCtrl").style.background = "url('Public/Manager/keda/images/realplay/ptzhide.png')";
    }
    function ClickPtzCtrlBtn(){
        if(ptzCtrlhide){
//            $('#ptzPanel').window('open');
//            $('#ptzPanel').show();
            $('#ptzPanel').show();
            $('#ptzPanel').panel('maximize').panel('refresh');
            $('#ptzPanel').panel('restore').panel('refresh');


            $('#ocxCenter').layout('panel', 'west').panel('resize',{width:120});
            $('#ocxCenter').layout('resize');
            document.getElementById("id_ptzCtrl").style.background = "url('Public/Manager/keda/images/realplay/ptzhide_disable.png')";

        }else{
            $('#ptzPanel').hide();
            $('#ptzPanel').panel('minimize').panel('refresh');
            $('#ptzPanel').panel('restore').panel('refresh');


            $('#ocxCenter').layout('panel', 'west').panel('resize',{width:0});
            $('#ocxCenter').layout('resize');
            document.getElementById("id_ptzCtrl").style.background = "url('Public/Manager/keda/images/realplay/ptzhide.png')";
        }
        ptzCtrlhide = !ptzCtrlhide;
    }
//    function onPtzClosed(){
//        console.log('onPtzClosed');
//        ptzCtrlhide = true;
//        document.getElementById("id_ptzCtrl").style.background = "url('Public/Manager/keda/images/realplay/ptzhide.png')";
//    }
////    打开了窗口
//    function onPtzOpend(){
//        console.log('onPtzOpend');
//        ptzCtrlhide = false;
//        document.getElementById("id_ptzCtrl").style.background = "url('Public/Manager/keda/images/realplay/ptzhide_disable.png')";
//    }

//    ClickFourScreen();
</script>

</body>

