<!--实时视频-->

<!--左侧车辆列表选择-->
<!--中间视频-->
<!--下方是参数设置-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>视频回放</title>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="__Manager_JS__/main.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">
    <!--<link rel="stylesheet" href="__STATIC__/Font/iconfont.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">

    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <script type="text/javascript" src="__JS__/main.js"></script>

    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        .tree-header div {
            /*设置文本颜色*/
            color: #000000;
        }
        .car_info_title {
            padding-right: 16px;
            display:-moz-inline-box;
            display:inline-block;
            width: 50%;
        }
        .car_info_value {
            width: 20%;
            padding-right: 16px;
        }
        .car_info p{
            padding-left: 8px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .car_detail p{
            padding-left: 8px;
        }
        .car_status p {
            padding-left: 8px;
        }


        .fitem {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

        }

        #Main_Layout_North{height:52px; background:#008DC4;border:0px;}


        /*Main_Layout_North*/
        #header_logo {height: 52px; width: 230px; float:left;padding-left: 10px;background: #008DC4;font-weight: 400;line-height: 52px;color: #fff; font-size:14px;}
        #header_logo a,#header_logo a:hover{color: #fff;}
        #header_logo i{ font-size:12px;opacity: .8;}
        #header_logo .justify{float: right; height:52px; width: 43px; background:url(../images/Main/justify.jpg) center no-repeat;}
        #header_logo .justify:hover{ background:url(../images/Main/justify_h.jpg) center no-repeat;}

        .header_nav{height: 52px; float:left;}
        .header_nav li{float:left; padding:10px; line-height:32px;}
        .header_nav a li{ color:#FFF; min-width:50px; text-align:center}
        .header_nav a:hover li{ color:#FFF;background:#0099CC;}
        .withoutHover a:hover:first-child li{ color:#FFF;background:#008DC4;}
        .header_nav .selected li{ color:#FFF;background:#00bbee;}
        .header_nav .unselected li{ color:#FFF;background:#008DC4;}

    </style>
    <script>
        //设置全部A为非选中
        $('#header_nav a').removeClass('selected');
    </script>

    <style type="text/css">
        body
        {
            font-size:9pt;
        }
        #Mdvr
        {
            height: 224px;
            width: 402px;
        }
    </style>
    <meta name="renderer" content="ie-comp">

    <script language="javascript" type="text/javascript">

        var isPlaying = false;
        var isReady = false;
//        表示1s
        var speed = 1000;
        var speedControl = {
            1000:1,
            2000:2,
            4000:3,
            8000:4,
            16000:5,
            500:-1,
            250:-2,
            125:-3,
            62:-4
        };

        var startTime = 0;
        var endTime = 0;
        var currTime = 0;
        var totalSecond = 0;

        var mediaSvrIp = "116.114.18.195";
        var mediaSvrPort = 6005;
        //        任务号
        var m_trans;
        //        车id
        var m_vehId;
        //        车牌
        var m_vehLic;
        //        车辆通道
        var m_vehChannel;
        //        车牌颜色
        var m_vehColor;
        var m_streamType = 0;       // 0-主码流，1-子码流
        var m_timeBarString;    // 时间轴的搜索结果

        // 画图时的基础坐标。和本demo没有啥关系，可以不用关心
        var m_drawBaseX;
        var m_drawBaseY;
        var m_drawBaseW;
        var m_drawBaseH;
        var m_drawBaseCtrl;     // 用于画图的控件，注意不要有内容，否则在画图时会被全部清除掉。如果不设置本字段，则画的图将无法被控制
        var m_drawColor;        // 一种16进制表示法：#RRGGBB


        function pageLoad()
        {
            m_trans = 2;        // 只要大于0即可
            m_drawBaseX = 0;
            m_drawBaseY = 0;
            m_drawBaseW = 768;
            m_drawBaseH = 100;
            m_drawBaseCtrl = 0;
            m_drawColor = "#f00000"; // 红色

            //setDrawBasePosition("timebarResult");
            //rect(5, 4, 120, 40);
//          获取OCX空间布局支持情况
            var layoutstr = GetVideoOcx().GetVideoWinLayoutList();
            showmsg(layoutstr);
            setLayout(1);
        }

        function generalTransNo()
        {
            m_trans = m_trans+1;
            return m_trans;
        }

        function GetVideoOcx()
        {
            return videoplayer;
        }

        function GetCtrl(ctrlId) {
            return document.getElementById(ctrlId);
        }
        //
        function showmsg(strmsg) {
            console.log(strmsg);
//            GetCtrl("locmsg").innerHTML = strmsg + '<br>' + GetCtrl("locmsg").innerHTML;
        }

        function showtask(strmsg) {
            GetCtrl("taskmsg").innerHTML = "视频控件功能演示，当前业务：" + strmsg;
        }

        function showDownState(strinfo) {
            GetCtrl("downstate").innerHTML = "缓冲到：" + strinfo;
        }

        function showPlayState(strinfo) {
            GetCtrl("playstate").innerHTML = "播放到：" + strinfo;
        }

        function bevent_ClearMsg() {
            GetCtrl("locmsg").innerHTML = "";
        }

        function setDrawBasePosition(ctrlid) {
            m_drawBaseX = GetCtrl(ctrlid).offsetLeft;
            m_drawBaseY = GetCtrl(ctrlid).offsetTop;
            m_drawBaseW = GetCtrl(ctrlid).offsetWidth;
            m_drawBaseH = GetCtrl(ctrlid).offsetHeight;
            m_drawBaseCtrl = ctrlid;
            GetCtrl(m_drawBaseCtrl).innerHTML = "";
        }

        // 用于画图的颜色，格式可以参考 http://www.zhaozi.cn/color.htm
        function setDrawColor(colorVal)
        {
            m_drawColor = colorVal;
        }

        // getchn：0 - 不用取通道号，1 - 取通道号
        // getstreamtype：0 - 不用取码流类型，1 - 取码流类型
        function GetVehInfo(getchn, getstreamtype)
        {

//            TODO：关键位置
            if (currNode){
                m_vehId = currNode.id % 1000000000;
                m_vehColor = currNode.attributes.carinfo.plate_color_value;


            }else {
//                显示提示，
                $.messager.show({
                    title:'提示',
                    msg:"请在左侧双击选择一辆车！",
                    timeout:1500,
                    showType:'slide'
                });
                return;
            }
            m_vehLic = vehLic.value;
//            m_vehColor = vehColor.value;
//            m_streamType = streamType.value;
            m_vehChannel = vehChannel.value;

            var cmdVeh;
            cmdVeh = '"VEHICLELICENSE":"' + m_vehLic + '","PLATECOLOR":' + m_vehColor + ',"VEHICLEID":' + m_vehId;
            if (getchn == 1) {
                cmdVeh = cmdVeh + ',"CHANNEL":' + m_vehChannel;
            }
            if (getstreamtype == 1) {
                cmdVeh = cmdVeh + ',"STREAMTYPE":' + m_streamType;
            }
            return cmdVeh;
        }


        // 由于使用了固定的m_trans，所以在调用此接口之前，不能对m_trans的值进行改变
        function bevent_MediaStop()
        {
            isPlaying = false;
            //alert(m_trans);
            var retv = GetVideoOcx().StopMediaTask(m_trans);
//            showtask("");
//            showmsg('StopMediaTask() return 0x' + retv.toString(16));
        }

        // 停止所有媒体业务，这里采用直接关闭。如果要异步关闭，则传入0并处理关闭事件，在关闭事件中进行视频关闭
        function bevent_AllMediaStop() {
            //alert(m_trans);
            isPlaying = false;
            var retv = GetVideoOcx().CloseAllMedia(1);
//            showtask("");
//            showmsg('CloseAllMedia() return 0x' + retv.toString(16));
        }

        // 月历搜索，用来检索smcard上有哪一天的数据
        function bevent_MonthSearch(start_time,end_time) {
            var vehInfo = GetVehInfo(0, 0);
//            1：音视频都上传；2：只音频 4：只视频
            var avOption = 1;
//            if (GetCtrl("chkDataTypeAV").checked)
//                avOption = 1;
//            else
//            {
//                if (GetCtrl("chkDataTypeAudio").checked)
//                    avOption = 2;
//                if ( GetCtrl("chkDataTypeVideo").checked)
//                    avOption = avOption + 4;
//                if ( avOption == 6 )
//                    avOption = 1;
//            }
//            if ( avOption == 0 )
//            {
//                alert("请选择数据类型！");
//                return;
//            }

//            1：全部数据 2：含报警数据
            var alarmType = 1;


//            if (GetCtrl("chkAlarmTypeAll").checked)
//                alarmType = 1;
//            if (GetCtrl("chkAlarmTypeAlarm").checked)
//                alarmType = alarmType + 2;
//            if (alarmType == 0) {
//                alert("请选择是否报警！");
//                return;
//            }

            var cmdstr = '{' + vehInfo + ',"RECORDTYPE":' + avOption + ',"DATATYPE":' + m_streamType;
            cmdstr = cmdstr + ',"SEARCHMODE":' + alarmType + ',"STARTTIME":"'+start_time+'","ENDTIME":"'+end_time+'"}';
//            cmdstr = cmdstr + ',"SEARCHMODE":' + alarmType + ',"STARTTIME":"0000","ENDTIME":"0000"}';
            console.log("bevent_MonthSearch:",cmdstr);
            var retv = GetVideoOcx().SearchCalendar(generalTransNo(), mediaSvrIp, mediaSvrPort, cmdstr);
            console.log("bevent_MonthSearch retv : ",retv);

//            showmsg('SearchCalendar() return 0x' + retv.toString(16));
        }

        // 时间轴搜索。其实应该要选择有录像的天进行搜索的
        function bevent_TimeBarSearch() {
            m_timeBarString = null;
            var vehInfo = GetVehInfo(0, 0);
//           值 == 1：音视频都上传；2：只音频 4：只视频
            var avOption = 1;
//            if (GetCtrl("chkDataTypeAV").checked)
//                avOption = 1;
//            else {
//                if (GetCtrl("chkDataTypeAudio").checked)
//                    avOption = 2;
//                if (GetCtrl("chkDataTypeVideo").checked)
//                    avOption = avOption + 4;
//                if (avOption == 6)
//                    avOption = 1;
//            }
//            if (avOption == 0) {
//                alert("请选择数据类型！");
//                return;
//            }
//            选择所有通道
//            var channelVal = 0;
            var channelVal = (1 << (m_vehChannel - 1));
//            if (GetCtrl("timebarSearchChannel").checked)
//                channelVal = 0;

//            获取选择的时间，


            // 关于时间，固定为当天的0点到当前时间
            var d = $('#cc').datebox('getValue');
            d = d.replace(/-/g,"/");
            if(d == ""){
//                弹出提示框
                return;
            }
            var date = new Date(d);

            var curDate = new Date();



            var startSec = Date.UTC(date.getUTCFullYear(), date.getMonth(), date.getDate())/1000 - 8 * 60 * 60 ;
            var utcDate;

            if(curDate.getDate() == date.getDate()){
                utcDate = startSec + curDate.getHours() * 3600 + curDate.getMinutes() * 60 + curDate.getSeconds();
            }else {
                utcDate = startSec + 86400;
            }

            var cmdstr = '{' + vehInfo + ',"RECORDTYPE":' + avOption + ',"DATATYPE":' + m_streamType;
            cmdstr = cmdstr + ',"CHANNEL":' + channelVal + ',"STARTTIME":' + startSec;
            cmdstr = cmdstr + ',"ENDTIME":' + utcDate + '}';
            console.log("时间轴检索cmd",cmdstr);

//            GetCtrl("timebarResult").innerHTML = "";
            var retv = GetVideoOcx().SearchTimeBar(generalTransNo(), mediaSvrIp, mediaSvrPort, cmdstr);
            console.log("时间轴检索",retv);
//            showmsg('SearchTimeBar() return 0x' + retv.toString(16));
        }

        // 开始远程回放。注意必需先进行时间段搜索，因为其结果需要传入回放接口
        // 回放功能，和录像文件下载基本一样，只是下载时多了两个参数：结束时间和文件路径及名称两项
        // 此函数只做演示回放，不进行文件下载
        function bevent_PlayBack() {

            if (m_timeBarString == null) {
                alert("请先进行时间轴搜索！");
                return;
            }
            if(isPlaying){
                alert("请先关闭当前回放");
                return;
            }
            isPlaying = true;

            var vehInfo;
            vehInfo = GetVehInfo(1, 1);

            // 关于时间，固定为当天的0点到当前时间
            var d = $('#cc').datebox('getValue');
            d = d.replace(/-/g,"/");
            if(d == ""){
//                弹出提示框
                return;
            }
            var date = new Date(d);

//            该数值，必须大于时间轴获取数据的开始值，
            var startSec = Date.UTC(date.getUTCFullYear(), date.getMonth(), date.getDate())/1000 - 8*60*60+5;

            var data = eval('(' + m_timeBarString + ')');

            var timeseglist = data.TIMESEGLIST;
            var timeBarStartSec = timeseglist[0].STARTTIME;

            startSec = startSec > timeBarStartSec? startSec:timeBarStartSec;

//            - 8 * 60 * 60+1;
//            var utcDate;
//
//            if(curDate.getDate() == date.getDate()){
//                utcDate = startSec + curDate.getUTCHours() * 3600 + curDate.getUTCMinutes() * 60 + curDate.getUTCSeconds();
//            }else {
//                utcDate = startSec + 86400 - 1;
//            }
//
//            var curDate = new Date();
//            var startSec = Date.UTC(curDate.getUTCFullYear(), curDate.getUTCMonth(), curDate.getUTCDate()) / 1000;
            //var utcDate = startSec + curDate.getUTCHours() * 3600 + curDate.getUTCMinutes() * 60 + curDate.getUTCSeconds();

            var m_timeBarStringTemp = m_timeBarString.replace(/\"/g, '\\"');

            var cmdstr = '{' + vehInfo + ',"STOREDEV":0,"STARTTIME":' + startSec + ',"DEVICETYPE":0,"TIMEBAR":"';
            cmdstr += m_timeBarStringTemp + '"}';
            console.log("bevent_PlayBack cmd:",cmdstr);


            //*
//            showtask("远程回放");
            var retv = GetVideoOcx().StartFilePlay(generalTransNo(), mediaSvrIp, mediaSvrPort, cmdstr);

//            if (retv != 0)
//                showtask("");
            showmsg('StartFilePlay() return 0x' + retv.toString(16));
        }

        function video_event(msg_type, trans_no, data_type, server_ip, server_port, cmd_str, cmd_len) {
            switch (msg_type) {

                // 响应视频窗口右键菜单中的打开声音命令
                case 0x100001:
                    GetVideoOcx().OpenSound();
                    break;

                // 响应视频窗口右键菜单中的关闭声音命令
                case 0x100002:
                    GetVideoOcx().CloseSound();
                    break;

                // 响应视频窗口右键菜单中的关闭视频或者视频窗口右上角的“x”号，用于关闭一个视频
                case 0x100007:
                    console.log("0x100007");

                    GetVideoOcx().StopMediaTask(trans_no);
                    break;

                // 视频窗口选中变化的通知，web上此事件意义不大
                case 0x100008:
//                    showmsg(cmd_str);
                    console.log("0x100008");

                    break;

                // 文件缓冲状态，对于文件下载，则也会有下载结束/成功/失败的情况，内容不同罢了
                case 0x10000A:
                    console.log("0x10000A");

//                    showDownState(cmd_str);
//                    console.log("0x10000A");

                    break;

                // 远程回放状态
                case 0x10000B:
                    console.log("0x10000B");

//                    showPlayState(cmd_str);
                    console.log("0x10000B",new Date().toLocaleString());
                    currTime += speed;
                    console.log("当前时间",currTime);
                    var currDesc = toTimeDesc((currTime - startTime)/1000);
                    var desc = toTimeDesc(totalSecond);
                    $("#play_progress_desc").val(currDesc+" / "+desc);
                    $('#play_progress').slider('setValue',currTime);
                    break;

                // 抓图，需要调用抓图接口开始抓图
                case 0x10000E:
                    snapAPicture(trans_no);
                    break;

                // 视频窗口布局变化的通知，web上此事件意义不大
                case 0x100011:
//                    showmsg(cmd_str);
                    console.log("0x100011");
                    break;

                // 月历搜索结果，其实是可以在页面上显示出来就日历就好看了
                case 0x200004:
//                    GetCtrl("monResult").innerHTML = cmd_str;
                    console.log(cmd_str);
                        processCmdStrForMouthSearch(cmd_str);
                    break;

                // 录像时间轴搜索结果，可以把它显示成时间轴的样子
                // 需要把中间的"号改成\"，如果是其它明确数据类型的语言中，应该是自动转换的，但在脚本这种模糊数据类型需要显式转换
                case 0x200006:
//                    m_timeBarString = cmd_str.replace(/\"/g, '\\"');
                        m_timeBarString = cmd_str;
                    console.log("m_timeBarString",m_timeBarString);
                    processCmdStrForTimeBar(cmd_str);

//                    GetCtrl("timebarResult").innerHTML = m_timeBarString;
//                    bevent_PlayBack();
                    break;

                default:
//                    showmsg(cmd_str);
                    break;
            }

        }

        // 抓图，这里固定抓1张，保存在C:盘根目录，文件名为 通道.bmp
        // 实际用的时候，必需注意各项是否符合windows文件规范，以及对应目录是否有写的权限等
        function snapAPicture(trans_no) {
            var vehInfo = GetVehInfo(0, 0);     // 不用vehInfo，仅全局变量，实际可以不用的
            var cmdstr = '{"DISPLAY":"' + m_vehLic + '","CAPWAY":2,"TIME":1,"SAVETO":"C:/' + m_vehChannel + '.bmp"}';
            var retv = GetVideoOcx().ScreenControl(trans_no, 0x10000E, cmdstr);
//            showmsg('ScreenControl() return 0x' + retv.toString(16));
        }

        function bevent_capture() {
            snapAPicture(m_trans);
        }

        function bevent_OpenSound() {
            var retv = GetVideoOcx().OpenSound();
//            if (retv != 0)
//                showtask("");
//            showmsg('OpenSound() return 0x' + retv.toString(16));
        }

        function bevent_CloseSound() {
            var retv = GetVideoOcx().CloseSound();
//            if (retv != 0)
//                showtask("");
//            showmsg('CloseSound() return 0x' + retv.toString(16));
        }

        // 实际的窗口列表可以通过控件属性来获得
        // GetVideoOcx().GetVideoWinLayoutList();
        function setLayout(videoCount) {
            var cmdStr = '{"PARAM":{"WINNAME":"PREVIEW","LAYOUT":' + videoCount + '}}';
            GetVideoOcx().WindowSet(cmdStr);
        }

        function bevent_WinCount1() {
            setLayout(1);
        }
        function bevent_WinCount4() {
            setLayout(4);
        }
        function bevent_WinCount8() {
            setLayout(8);
        }
        function bevent_WinCount9() {
            setLayout(9);
        }
        function bevent_WinCount16() {
            setLayout(16);
        }



//        播放控制
//        ctrlFlag:控制标志  0:正常回放;1:暂停回放; 2:结束回放;3:快进回放; 4:关键帧快退播放 5:拖动回放 6: 关键帧播放 7:播放流畅度设置
//        playSpeed:播放速度 回放速度,只有 CTRLFLAG 为 3 时有效,取值范围 -4~5,其中 0 无效:
//                  取值:播放效果
//                  -4:1/16
//                  -3:1/8 -2:1/4 -1:1/2
//                  0:无效 1:正常速度(1 倍,x1) 2:2 倍快放(x2)
//                  3:x4
//                  4:x8
//                  5:x16


        function playControl(ctrlFlag,playSpeed,time){

            var strCmd = '{"CTRLFLAG":'+ctrlFlag+',"PLAYSPEED":'+playSpeed+',"TIME":'+time+'}';
            var trans = generalTransNo();
            console.log(strCmd);
            var retv = GetVideoOcx().PlayControl( trans, strCmd );
            if ( retv != 0 )
            {
               console.log('修改控制失败！',retv);
            }
        }
//        -4~5,其中 0 无效:
//              取值:播放效果 -4:1/16 -3:1/8 -2:1/4 -1:1/2 0:无效 1:正常速度(1 倍,x1) 2:2 倍快放(x2) 3:x4 4:x8 5:x16
        function changePlaySpeed(playSpeed,time){
            console.log("变更速度",playSpeed);
            playControl(3,playSpeed,time);
        }
        function changePosition(time){
            console.log("变更时间",time);
            playControl(5,0,time);
        }


        //画点函数
        function makedot(x, y) {
            //document.write("<div style='height:1px;left:" + x + "px;top:");
            //document.write(y + "px;width:1px;background:#f00;overflow:hidden'></div>");

            var newPoint = "<div style='height:1px;position:absolute;left:" + x + "px;top:";
            newPoint += y + "px;width:1px;background:" + m_drawColor + ";overflow:hidden'></div>";

            var obj = GetCtrl(m_drawBaseCtrl);
            if (obj == null) {
                document.write(newPoint);
            }
            else {
                obj.innerHTML = obj.innerHTML + newPoint;
            }
        }

        function rect(x, y, w, h) {
            for (var i = 0; i < w; i++) {
                makedot(x + i + m_drawBaseX, y + m_drawBaseY);
                makedot(x + i + m_drawBaseX, y + h + m_drawBaseY);
            }

            for (var i = 0; i < h; i++) {
                makedot(x + m_drawBaseX, y + i + m_drawBaseY);
                makedot(x + w + m_drawBaseX, y + i + m_drawBaseY);
            }
        }

        var avaliableCalendars = []
//        {"CALENDARS":[{"DATE":1608,"RESULT":1610612736},{"DATE":1609,"RESULT":3}],"ERRORCODE":0,"VEHICLEID":2}
        function processCmdStrForMouthSearch(cmdStr){

            var data = eval('(' + cmdStr + ')');
//            console.log("i get this obj:",data);
            var errorCode = data.ERRORCODE;
            avaliableCalendars = [];
            if(errorCode == 0){
                var CALENDARS = data.CALENDARS;
                for (key in CALENDARS){
                    var calendar = CALENDARS[key];
                    var date = calendar.DATE;
                    var year = "20"+parseInt(date/100);
                    var mouth = date%100;
                    console.log(year,",",mouth);

                    var baseYM = year+","+mouth+","
                    var r = calendar.RESULT;
                    var result = hasInfo(r);
                    for(key in result){
                        var d = baseYM+result[key];
                        avaliableCalendars.push(d);
                        $('td.calendar-day[abbr="'+d+'"]').css({'background':'#0c0'});
                    }
                    console.log(result);
                }
            }

//            $('td.calendar-day[abbr="2016,8,15"]')
        }

        function hasInfo(r){
            var d = [];
            var i = 1;
            var temp = r;
            while(temp > 0){
                var lastbit = temp & 1;
                if(lastbit == 1){
                    d.push(i);
                }
                temp >>= 1;
                i++;
            }
            return d;
        }

//{"ERRORCODE":0,"TIMESEGLIST":
// [{"ALARMTYPE":null,"CHANNEL":1,"DATATYPE":0,"ENDTIME":1472918399,"LOCATION":0,"STARTTIME":1472860800},
// {"ALARMTYPE":null,"CHANNEL":2,"DATATYPE":0,"ENDTIME":1472918399,"LOCATION":0,"STARTTIME":1472860800}],
// "VEHICLEID":2}
        function processCmdStrForTimeBar(cmdStr){
            var data = eval('(' + cmdStr + ')');
//            console.log("i get this obj:",data);
            var errorCode = data.ERRORCODE;
            if(errorCode == 0) {
                var timeseglist = data.TIMESEGLIST;
                for (key in timeseglist) {
                    var timeseg = timeseglist[key];
                    var end = new Date(parseInt(timeseg.ENDTIME)* 1000).toLocaleString();
                    var start = new Date(parseInt(timeseg.STARTTIME)* 1000).toLocaleString();
                    var channel = timeseg.CHANNEL;
                    console.log("渠道号：[",channel,"]: 开始:",start,"结束：",end);
//                    绘制一组进度条

                    startTime = timeseg.STARTTIME * 1000;
                    endTime = timeseg.ENDTIME * 1000;
                    currTime = startTime;

                    totalSecond = (endTime - startTime)/1000 ;
                    var desc = toTimeDesc(totalSecond);
                    $("#play_progress_desc").val("0:0:0 / "+desc);
                    $('#play_progress').slider({
                        min:startTime,
                        max:endTime,
                        step:speed,
                        value:currTime,
                        disabled:true,
                        onComplete:function(value){
                            console.log("onComplete",value);
                            currTime = value;
                            var currDesc = toTimeDesc((currTime - startTime)/1000);
                            var desc = toTimeDesc(totalSecond);
                            $("#play_progress_desc").val(currDesc+" / "+desc);

//                            moveToTime(currTime);

                        }
                    });
                    isReady = true;
                }

            }
            console.log("i get this:",cmdStr);
        }

        function toTimeDesc(totalSecond){
            var desc = parseInt(totalSecond/3600) +":" + parseInt(totalSecond % 3600 / 60)+":"+parseInt(totalSecond % 60);
            return desc;
        }

    </script>
</head>
<body class="easyui-layout" onload="pageLoad()">

<!--<div id="Main_Layout_North" data-options="region:'north',split:false">-->
    <!--<div id="header_logo"> <a href="{:U('Admin/Index/index')}">{:C('SOFT_NAME')}</a> <i class="opacity-80">v{:C('SOFT_VERSION')}</i> <a class="justify" href="javascript:void(0);"></a></div>-->
    <!--<ul id="header_nav" class="header_nav">-->

        <!--<a href="{:U('Manager/Index/index')}" target="_self" class="unselected"><li>实时监控</li></a>-->
        <!--<a href="{:U('Manager/Track/index')}" target="_self" class="unselected" ><li>轨迹回放</li></a>-->
        <!--<a href="#" class="selected" ><li>视频监控</li></a>-->
        <!--<if condition="hasAuthForService('Admin/Index/index')">-->
            <!--<a href="{:U('Admin/Index/index')}" target="_self" ><li>后台管理</li></a>-->
        <!--</if>-->

    <!--</ul>-->
    <!--<ul class="header_nav" style="float:right">-->
        <!--<a href="{:U('Admin/Index/index')}" ><li>{$UserInfo['group_title']}[{$UserInfo['username']}]</li></a>-->
        <!--<a href="{:U('Admin/Public/logout')}"><li>退出</li></a>-->
    <!--</ul>-->
<!--</div>-->


<div id="Params" data-options="region:'west',title:'查询设置',collapsible:true,headerCls:'tree-header'" style="width: 20%;height:100%;">
    <div style="width:100%">
        双击选择要查看的车辆
        <div>
            <ul id="tt" checkbox="false">
            </ul>
        </div>

    </div>
</div>

<div data-options="region:'center'" style="width: 80%;height: 100%;">

    <div class="easyui-layout" style="width: 100%;height: 100%">
        <div data-options="region:'north',title:'数据',headerCls:'tree-header'" style="height: 60px;padding-top: 5px">

            <label>车牌号码:</label>
            <input id="vehLic" type="text" value="" style="width:100px" />
            <!--<label>码流类型:</label>-->
            <!--<select id="streamType" style="width:80px">-->
                <!--<option value="0" selected="selected">主码流</option>-->
                <!--<option value="1">子码流</option>-->
            <!--</select>-->
            <label>通道:</label>
            <select id="vehChannel" style="width:55px">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>

        </div>
        <div data-options="region:'center'" style="width: 100%;height: 60%;top: 0px;bottom: 0px;text-align: center;margin-top: 5px">
            <object id="videoplayer" name="videoplayer" classid="clsid:9CD4FCA1-EA5F-497A-9637-21725C712BC8" style="width: 80%; height: 98%">
            </object>
            <script language="javascript" type="text/javascript" for="videoplayer" event="IntDataNotify(msg_type, trans_no, data_type, server_ip, server_port, cmd_str, cmd_len)">
                video_event(msg_type, trans_no, data_type, server_ip, server_port, cmd_str, cmd_len);
                //alert(cmd_str);
            </script>
        </div>
        <div data-options="region:'south',split:false" style="width: 100%;height: 35%;">

            <!--<div style="width: 100%;height: 12px;text-align: center">-->
                <!--<a id="Button2" onclick="bevent_WinCount1()"><span style="padding-left: 5px;padding-right: 5px;color: #0000ff;"><u>1</u></span></a>-->
                <!--<a id="Button6" onclick="bevent_WinCount4()"><span style="padding-left: 5px;padding-right: 5px;color: #0000ff;"><u>4</u></span></a>-->
                <!--<a id="Button7" onclick="bevent_WinCount8()"><span style="padding-left: 5px;padding-right: 5px;color: #0000ff;"><u>8</u></span></a>-->
                <!--<a id="Button8" onclick="bevent_WinCount9()"><span style="padding-left: 5px;padding-right: 5px;color: #0000ff;"><u>9</u></span></a>-->
                <!--<a id="Button9" onclick="bevent_WinCount16()"><span style="padding-left: 5px;padding-right: 5px;color: #0000ff;"><u>16</u></span></a>-->
            <!--<div>-->

                <!--<hr />-->
                <!--<br />-->
                <div style="text-align: left">
                    <label>回放日期:</label>
                    <input class="easyui-datebox" id="cc" data-options="required:true"/>
                    <input id="btnMonthSearch" type="button" value="查找" onclick="bevent_TimeBarSearch()" />
                    <!--<div id="cc" class="easyui-calendar" style="width:180px;height:180px;"></div>-->
                <div>
                <br />
                <input id="btnTimeSearch" type="button" value="开始回放" onclick="bevent_PlayBack()" />
                <!--<input id="btnPlayBack" type="button" value="开始回放" onclick="bevent_PlayBack()" />-->
                <input id="btnStopPlayBack" type="button" value="关闭回放" onclick="bevent_AllMediaStop()" />
                    <hr>
                    <br>
                    <div class="fitem" >
                        <label>当前进度：</label>
                        <input id="play_progress_desc" style="width: 200px;text-align: center" readOnly="true" value="0/0"/>
                        <div style="width: 90%; text-align: left;padding-left: 12px" hidden="true"  >
                            <input id="play_progress" class="easyui-slider" value="0" data-options= "min:0,max:0,step:1,disabled:false">
                        </div>
                    </div>
                <p>操作步骤：</p>
                <p>一、在左侧车辆列表中双击选择待查询车辆；</p>
                <p>二、选择要查看的通道</p>
                <p>三、选择要查看的日期（注：绿色背景的日期才有数据，有数据的日期才能查看），然后点击查找；</p>
                <p>四、获取到当前进度后，点击开始回放按钮后会开始播放历史数据！</p>
                <p>五、切换条件查询时，先关闭回放！</p>
                    <!--<input id="" type="button" value="减速" onclick="subSpeed()" />-->
                    <!--<label id="speedDesc">正常速度</label>-->
                    <!--<input id="" type="button" value="加速" onclick="addSpeed()" />-->
        </div>
    </div>

    <script>


            function addSpeed(){
                var temp = parseInt(speed*2);
                if(speed>=16000){
                    speed = 16000;
                    return;
                }
                if(speedControl[temp]){
                    changePlaySpeed(speedControl[temp],currTime);
                    speed *=2;
                }
            }
            function subSpeed(){
                var temp = parseInt(speed/2);
                if(speed<=62){
                    speed = 62;
                    return;
                }
                console.log("变更前：",temp);
                if(speedControl[temp]){
                    changePlaySpeed(speedControl[temp],currTime);
                    speed /=2;

                }
            }
            function moveToTime(time){
                if(isPlaying && isReady){
                    changePosition(time);
                }
            }

            function addBgColorForCalendar(){
                for(key in avaliableCalendars){
                    var d = avaliableCalendars[key];
                    console.log("数据是：",d);
                    $('td.calendar-day[abbr="'+d+'"]').css({'background':'#0c0'});
                }
            }


            $("#cc").datebox({
                onSelect:function(date){
                    var nowDate = new Date();
                    if(date>nowDate){
                        $("#cc").datebox("setValue","");
                    }
                    var d = (date.getYear()<1900 ? (date.getYear()+1900):date.getYear())  +","+(date.getMonth()+1)+","+date.getDate();
                    console.log("选择日期是：",date.toLocaleDateString());
                    for(key in avaliableCalendars) {
                       if(avaliableCalendars[key] == d){
                           d = d.replace(/,/g,'-');
                           $("#cc").datebox("setValue",d);
                           return ;
                       }
                    }
                    $("#cc").datebox("setValue","");

                },
                onShowPanel:function(){
//                    为日历导航添加点击事件，点击1秒后加载颜色值
                    $('.calendar-nav').click(function(e){
                        console.log("nav click");
                        setTimeout('addBgColorForCalendar()',1000);
                    });
//                    默认显示的时候加载显示
                    addBgColorForCalendar();
                }
            });

            var cars;
            var currNode;
            $('#tt').tree({
                url: "{:U('Service/VehicleInfo/getVehicleListTree')}",

//        url:"{:U('Service/VehicleInfo/getVehicleListTest')}",
                onBeforeLoad: function (node, param) {
                    console.log(node);
                },

                onLoadSuccess: function (node, data) {
//            每次加载要重置
                    cars = new Object();
                    var childrens = $("#tt").tree('getChildren');
                    for (i = 0; i < childrens.length; i++) {
                        var child = childrens[i];
                        if (child.attributes.type == "car"){
                            var car_id = child.id % 1000000000;
                            cars[""+car_id] = new Object();
                            cars[""+car_id].carinfo = child.attributes.carinfo;
                            cars[""+car_id].car_license = child.attributes.carinfo.car_license;
                            cars[""+car_id].group_name = child.attributes.carinfo.group_name;
                            cars[""+car_id].group_id = child.attributes.carinfo.group_id;
                            cars[""+car_id].isOnline = false;
                        }
                    }


                },

                onDblClick:function(node){
                    if(node.attributes.type == "car"){
//                console.log(node+"选中一个车的节点");
//                选中后，下方显示车辆具体信息
                        currNode = node;
                        console.log("nodeis",node);
                        $("#vehLic").val(node.text);
//                        拉取当前车辆历史记录，
//                        取所有的数据，结果在回调中显示
                        bevent_MonthSearch("0000","0000");

                    }
                }
            });
        </script>


</body>

