<style>
    .ftitle {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .fitem {
        margin-bottom: 10px;

    }
    .fitem label {
        display: inline-block;
        width: 100px;
        text-align:right;
    }
    .fitem {
        text-align: left;
        padding: 6px;
        margin: 3px;
        height: 30px;
        line-height:30px;
        background-color: #EEEEEE;
    }
    .fitem:nth-child(2n){
        background-color: #F2F8FB;
    }
    .settingImg {
        width: 20px;
        height: 20px;
        vertical-align:middle;
    }
</style>

<div>
    <h3 class="ftitle">地图相关设置</h3>
    <div class="fitem">
        <label>车辆在线图标：</label>

        <input id="setting_online" style="width: 100px">
        <img id="setting_online_img" class="settingImg" />
    </div>
    <div class="fitem">
        <label>车辆停车图标：</label>

        <input id="setting_online_stop" style="width: 100px">
        <img id="setting_online_stop_img" class="settingImg" />
    </div>
    <div class="fitem">
        <label>车辆离线图标：</label>
        <input id="setting_offline" style="width: 100px">
        <img id="setting_offline_img" class="settingImg" />
    </div>
    <div class="fitem">
        <label>刷新时间间隔：</label>
        <input id="setting_time"  value="10" style="width: 40px;text-align: center;padding-right: 5px">秒
    </div>
    <p style="padding-left: 20px;padding-bottom: 4px">注：重新刷新页面设置才会生效</p>
    <div style="border-bottom: 1px solid #ccc;"></div>
    <br >

    <div style="text-align: center">
        <a href="javascript:;" class="easyui-linkbutton" onclick="save()"
           data-options="iconCls:'icon-save'" style="width: 100px;height: 36px;background-color: #F2F8FB; ">保存</a>
    </div>

</div>

<script>
    var online = '{$online}';
    var online_stop = '{$online_stop}';

    var offline = '{$offline}';
    var time = '{$time}'
    $('#setting_online').combobox({
        url:"{:U('Manager/Index/getImageSettingList')}",
        valueField:'id',
        textField:'name',
        onLoadSuccess: function(){
            $('#setting_online').combobox('select', online);
        },
        onSelect: function(record){
            console.log(record);
            online = record.id;
            $("#setting_online_img").attr('src',record.path+'0'+record.extensions);

        }
    });
    $('#setting_online_stop').combobox({
        url:"{:U('Manager/Index/getImageSettingList')}",
        valueField:'id',
        textField:'name',
        onLoadSuccess: function(){
            $('#setting_online_stop').combobox('select', online_stop);
        },
        onSelect: function(record){
            console.log(record);
            online_stop = record.id;
            $("#setting_online_stop_img").attr('src',record.path+'0'+record.extensions);

        }
    });
    $('#setting_offline').combobox({
        url:"{:U('Manager/Index/getImageSettingList')}",
        valueField:'id',
        textField:'name',
        onLoadSuccess: function(){
            $('#setting_offline').combobox('select', offline);

        },
        onSelect: function(record){
            console.log(record);
            offline = record.id;
            $("#setting_offline_img").attr('src',record.path+'0'+record.extensions);
        }
    });
    $('#setting_time').val(time);
    function save(){
        time = $('#setting_time').val();
        $.ajax({
            url: "{:U('Manager/Index/setting')}",
//            url:"http://192.168.0.73/CourtGms/index.php?m=Gps&c=Index&a=getOnlineDevice",
            type: 'Post',
            dataType: 'Json',
            data:{"online":online,"online_stop":online_stop,"offline":offline,"refresh_time":time},
            success: function (result) {
                console.log(result);
                $('#div_dialog_set').window('close');
            },
            error: function(){
                $('#div_dialog_set').window('close');
            }
        });
    }
</script>