<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Easyui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="__Manager_JS__/main.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/metro-gms/easyui.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/icon.css">
    <!--<link rel="stylesheet" href="__STATIC__/Font/iconfont.css">-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/Easyui/themes/color.css">

    <script type="text/javascript" src="__STATIC__/BaiduMap/baidu_offline_api.js"></script>

    <script src="__Manager_JS__/BMapUtils.js"></script>


    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <script type="text/javascript" src="__JS__/main.js"></script>



    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="easyui-layout">
<div id="map" style="width: 100%;height: 100%;">
</div>

<script>
    var setting_online = '{$Setting["online"]}';
    var setting_offline = '{$Setting["offline"]}';
    var setting_refresh_time = '{$Setting["refresh_time"]}';
    //    初始化地图
    init();
    addTipControl();
//    车辆基础信息
    var car = {
        "carinfo":JSON.parse('{$data}')
    };
    var directionDesc = ["正北","东北","正东","东南","正南","西南","正西","西北"];

    //    用于存放车辆信息

    getLastGps();
    var interval = setInterval("refresh()",1000);
    console.log(interval,":interval");
    //  当前操作的节点

    var loopSecond = 10;

    function refresh(){
        loopSecond -=1;
        if (loopSecond<=0){
            loopSecond = 10;
            if(setting_refresh_time){
                loopSecond = setting_refresh_time;
            }
//            $('#map_tip_second').html("0s");
            $('#map_tip').html("正在请求数据...");
            removeInterval();
            getLastGps();
        }else{
            $('#map_tip').html("还有<span id='map_tip_second' style='color: #F00;padding: 0px 5px'>--s</span>刷新");
            $('#map_tip_second').html(loopSecond+"s");
        }
    }

    function removeInterval(){
        if(interval){
            clearInterval(interval);
        }
    }

    //  屏蔽右键点击
    $(document).on("contextmenu", function (event) {
        event.preventDefault();
    });

    function getLastGps(){

        if(setting_refresh_time){
            loopSecond = setting_refresh_time;
        }
        if(car){
            var vehicle_ids = JSON.stringify([car.carinfo.vehicle_id]);
            $.ajax({
                url: "{:U('Gps/Index/getLastGps')}",
                type: 'Post',
                dataType: 'Json',
                data: {"vehicle_ids":vehicle_ids},
                success: function (result) {
                    if(result.statusCode == 200){
                        console.log(result);
                        for(i = 0; i < result.data.length; i++){
                            var id = result.data[i].vehicle_id;
                            var time = result.data[i].time;
                            var data = new Date(Date.parse(time.replace(/-/g, "/")));
                            var currData = new Date();
//                        间隔多少秒
                            var offSet = (currData.getTime() - data.getTime())/1000/60;
                            console.log("offSet",offSet);
//                            转成时间戳，并与当前时间比较，如果超出范围，认为该车不在线。
                            car.historyInfos = result.data[i];
//                        TODO： 修改这里，从而确定车辆上下线状态，十分钟没有消息，认为车辆以下线
                            car.isOnline  = offSet>10?false:true;

                        }
                        addCarToMap();
                    }
                    removeInterval();
                    interval = setInterval("refresh()",1000);

                },
                error: function(){
                    removeInterval();
                    interval = setInterval("refresh()",1000);
                }
            });
        }
    }

    function formatDate() {

        var now = new Date();

        var year=now.getYear();
        year = year < 1900 ? 1900+year : year;
        var month=now.getMonth()+1;
        var date=now.getDate();
        var hour=now.getHours();
        var minute=now.getMinutes();
        var second=now.getSeconds();
        return year+"-"+month+"-"+date+" "+hour+":"+minute+":"+second;
    }
    function addCarToMap() {
        map.clearOverlays();

        if (car.historyInfos) {
            var point = new BMap.Point(car.historyInfos.lng, car.historyInfos.lat);
            console.log(point, "point");
//            TODO： 需要修改marker 图标，依据车是否在线
            var direction = parseInt(car.historyInfos.direction/45);

//            var iconPath = car.isOnline? '../CourtGms/Public/Manager/image/1/'+direction+'.gif':'../CourtGms/Public/Manager/image/0/'+direction+'.gif';

            var key = 'online';
//            if(car.isOnline){
//                if(car.historyInfos.speed>0){
//                    key = 'online';
//                }else{
//                    key = 'online_stop';
//                }
//            }else{
//                key = 'offline';
//            }

            var iconPath = "{:U('Manager/Index/getCarImageUrl')}"+"&key="+key+"&direction="+direction;

            var myIcon = new BMap.Icon(iconPath, new BMap.Size(30, 30), {
                // 图标中央下端的尖角位置。
                anchor: new BMap.Size(16, 16),
                imageSize: new BMap.Size(32, 32),
                // 设置图片偏移。
                // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您
                // 需要指定大图的偏移位置，此做法与css sprites技术类似。
                imageOffset: new BMap.Size(0, 0)   // 设置图片偏移
            });

// 创建标注对象并添加到地图
            console.log(car);

            var marker = new BMap.Marker(point);
            var label = new BMap.Label(car.carinfo.vehicle_license);
            label.setOffset(new BMap.Size(32,20));
            marker.setLabel(label);
            marker.setIcon(myIcon);
            var shadowIcon = new BMap.Icon(iconPath,new BMap.Size(0,0));
            marker.setShadow(shadowIcon);

            var lat = Number(car.historyInfos.lat).toFixed(6);
            var lng = Number(car.historyInfos.lng).toFixed(6);
            var div =
                    '<div>' +
                    '<h3 style="text-align: center;padding-bottom: 2px">' + car.carinfo.vehicle_license + '</h3><hr>' +
                    '<p style="padding-top: 8px"><span class="car_info_title">经度：</span><span id="lng">' + lng + '</span></p>' +
                    '<p><span class="car_info_title">纬度：</span><span id="lat">' + lat + '</span></p>' +
                    '<p><span class="car_info_title">速度：</span><span id="speed">' + car.historyInfos.speed + 'km/h</span></p>' +
                    '<p><span class="car_info_title">驾驶员：</span><span>' + car.carinfo.vehicle_driver + '</span></p>' +
                    '<p><span class="car_info_title">上报时间：</span><span id="time">' + car.historyInfos.time + '</span></p>' +
                    '</div>';
            console.log("div", div);
            marker.div = div;

            marker.addEventListener("click", function () {
                var opts = {
                    width: 300,     // 信息窗口宽度
//                        height: 120,     // 信息窗口高度
//                        title : car.carinfo.vehicle_license // 信息窗口标题
                }


                var infoWindow = new BMap.InfoWindow(div, opts);  // 创建信息窗口对象
                this.openInfoWindow(infoWindow, marker.point);
                //alert("您点击了标注");
            });
            map.addOverlay(marker);
            map.panTo(point);

        }else{
            showTipsMessage("该车辆暂无数据！");
        }
    }




</script>


</body>
</html>