<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Hooks_Bar" style="height: auto">
	<div class="item-title">
		<h3>钩子</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Admin/Hooks/index')">
			<li><a href="{:U('Admin/Hooks/index')}"><span>列表</span></a></li>
			</if>
			<li><a class="current"href="{:U('Admin/Hooks/add')}"><span>新增</span></a></li>
		</ul>
	</div>
</div>
<form id="Hooks_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
	<tr>
			<td colspan="2" class="required"><label for="for_name">钩子名称:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">描述:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="description" value="" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">类型:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="type" class="easyui-combobox" style="height:30px;" data-options="value:'1',multiple:false,required:false,editable:false"><option value="1" >视图</option><option value="2" >控制器</option></select></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">插件:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="addons" value="" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips">钩子挂载的插件 '，'分割</td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_name">状态:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="status" class="easyui-combobox" style="height:30px;" data-options="value:'1',multiple:false,required:false,editable:false"><option value="0" >禁用</option><option value="1" >启用</option></select></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Hooks_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
</form></block>