.hide{
	display:none;
}

html,body{
	height:100%;
}

.playwindow_css{
	background:url(../images/test_ipc.png) no-repeat 0px 0px;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%;
	min-height:100px;
	position:relative;
}

.playwindow_css2{
	background:url(../images/test_ipc1.png) no-repeat 0px 0px;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%;
	min-height:100px;
	position:relative;
}

div.divlogo
{
background-color:#212426;
height:54px;
width:100%;
color:#CDCDCD;
font-size:40px;
min-width:950px;
border: none;
}

div.divlogin
{
background-color:#35373C;
height:320px;
width:340px;
color:#DDDDDD;
border: none;
padding:1px 0px 1px 0px;
}

div.divtool
{
background-color:#3681B5;
height:37px;
width:100%;
color:#FFFFFF;
font-size:18px;
line-height:33px;
min-width:950px;
border: none;
}

div.divplaymain
{
background-color:#35373C;
/*height:500px;*/
width:770px;
color:#FFFFFF;
border: none;
}
div.divplaybackmain
{
background-color:#363939;
height:550px;
width:770px;
color:#FFFFFF;
border: none;
}
div.divplaywindow
{
background-color:#000000;
/*height:435px;*/
width:100%;
width:770px;
color:#FFFFFF;
border: none;
}
div.divplaybackwindow
{
background-color:#000000;
height:522px;
width:770px;
color:#FFFFFF;
border-color:#FF00FF;
border: none;
}
div.divflashplaywindow
{
background-color:#000000;
height:430px;
width:770px;
color:#FFFFFF;
border: none;
}
div.divbottom
{
background-color:#212426;
height:35px;
width:100%;
color:#FFFFFF;
border: none;
position:fixed;
bottom:0px;
z-index:-1;
text-align:center;
line-height:35px;
}

div.divqueryrec
{
background:#4EA0E5;
width:160px;
height:30px;
line-height:30px
border: none;
}
input.loginuser
{
background:#24262B;
border:0;
width:218px;
height:30px;
line-height:30px;
color:#DDDDDD;
font-size:14px;
}
input.loginpass
{
background:#24262B;
border:0;
width:218px;
height:30px;
line-height:30px;
color:#DDDDDD;
font-size:14px;
}
button.btntool
{
background-color:#3A8ABA;
height:25px;
font-size:18px;
line-height:28px;
border:0;
color:#FFFFFF;
}
button.btnlogout
{
background-color:#3681B5;
height:30px;
font-size:14px;
line-height:33px;
border:0;
color:#FFFFFF;
}

button.btnrecgoto
{
background-color:#3681B5;
height:24px;
width:120px;
font-size:18px;
line-height:26px;
border:0;
color:#FFFFFF;
}

button.btnviewhigh
{
background-color:#35373c;
height:22px;
font-size:12px;
line-height:22px;
border:0;
color:#FFFFFF;
}
button.btnviewlow
{
background-color:#222429;
height:22px;
font-size:12px;
line-height:22px;
border:0;
color:#FFFFFF;
}

table.tablemain
{
align:center;
color:#FFFFFF;
font-size:14px;
}

div.indexnormal
{
padding:0px 0px 0px 0px;
}

td.indexnormal
{
padding:0px 0px 0px 0px;
}

td.ptzleftup
{
background-image:url(../images/realplay/leftup.png);
	background-size:contain;
}
td.ptzup
{
background-image:url(../images/realplay/up.png);
	background-size:contain;

}
td.ptzrightup
{
background-image:url(../images/realplay/rightup.png);
	background-size:contain;

}
td.ptzright
{
background-image:url(../images/realplay/right.png);
	background-size:contain;

}
td.ptzreset
{
background-image:url(../images/realplay/reset.png);
	background-size:contain;

}
td.ptzleft
{
background-image:url(../images/realplay/left.png);
	background-size:contain;

}
td.ptzleftdown
{
background-image:url(../images/realplay/leftdown.png);
	background-size:contain;

}
td.ptzdown
{
background-image:url(../images/realplay/down.png);
	background-size:contain;

}
td.ptzrightdown
{
background-image:url(../images/realplay/rightdown.png);
	background-size:contain;

}
td.ptzfocusfar
{
background-image:url(../images/realplay/focusfar.png);
	background-size:contain;

}
td.ptzfocusnear
{
background-image:url(../images/realplay/focusnear.png);
	background-size:contain;

}
td.ctrlptzhide
{
background-image:url(../images/realplay/ptzhide.png);
	background-size:contain;

}
td.ctrlptzhidedisable
{
background-image:url(../images/realplay/ptzhide_disable.png);
	background-size:contain;

}
td.ctrlplay4to3
{
background-image:url(../images/realplay/4_3_normal.png);
	background-size:contain;

}
td.ctrlplay16to9
{
background-image:url(../images/realplay/16_9_normal.png);
	background-size:contain;

}
td.ctrlplayx1
{
background-image:url(../images/realplay/x1_normal.png);
	background-size:contain;

}
td.ctrlplaynormalsize
{
background-image:url(../images/realplay/normalsize_normal.png);
}
td.ctrlplay
{
background-image:url(../images/realplay/play_normal.png);
}
td.ctrlvolume
{
background-image:url(../images/realplay/volume_normal.png);
}
#id_ctrlvolume.silent
{
background-image:url(../images/realplay/volsilent-nor.png);
}
td.audiocall
{
background-image:url(../images/realplay/audiocall_normal.png);
}
td.realsnap
{
background-image:url(../images/realplay/snap_normal.png);
}
td.realrecoder
{
background-image:url(../images/realplay/recoder_normal.png);
}
td.realzoomin
{
background-image:url(../images/realplay/zoomin_normal.png);
}
td.ctrlplayback
{
background-image:url(../images/recplay/playback_normal.png);
}
td.ctrlgotobegin
{
background-image:url(../images/recplay/gotobegin_normal.png);
}
td.ctrlgotoend
{
background-image:url(../images/recplay/gotoend_normal.png);
}
td.ctrlplaybackvolume
{
background-image:url(../images/realplay/volume_normal.png);
}
td.ctrlplaybackstep
{
background-image:url(../images/realplay/step_normal.png);
}
td.playbackzoomin
{
background-image:url(../images/realplay/zoomin_normal.png);
}
td.playbacksnap
{
background-image:url(../images/realplay/snap_normal.png);
}
td.playbackcut
{
background-image:url(../images/recplay/playbackcut_normal.png);
}
td.downloadrec
{
background-image:url(../images/recplay/downrec_normal.png);
}
td.increasescale
{
background-image:url(../images/recplay/increasescale_normal.png);
}
td.decreasescale
{
background-image:url(../images/recplay/decreasescale_normal.png);
}
td.singlesrceen
{
background-image:url(../images/single_screen_normal.bmp);
}
td.foursrceen
{
background-image:url(../images/four_screen_normal.bmp);
}
td.ninesrceen
{
background-image:url(../images/nine_screen_normal.bmp);
}
td.sixteensrceen
{
background-image:url(../images/sixteen_screen_normal.bmp);
}
td.fullscreen
{
background-image:url(../images/full_screen_normal.bmp);
}

input.timeInput
{
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;  
	vertical-align:middle; 
	background:#2a2b2d;
	color:#DDDDDD;
	border:0; 
	padding:0;
}

.recConditionDiv{
	margin-bottom:5px;
	height:22px;
	width:175px;
	*width:183px;
}

.recConditionDiv select{
	background:#2a2b2d;
	color:#DDDDDD;
	border:0;
	clip: rect(auto 20 auto auto); 
	margin-left:10px; 
	float:left; 
	height:22px; 
	line-height:22px;
	*height:20px;
	*line-height:20px;
}















