<form id="seach_form" method="post">

    <div style="width: 351px;float:left;">

        <div class="fitem" >
            <label>组织名称：</label>
            <input id="s_group_name" type="text" class="easyui-textbox" name="group_name" style="width: 160px;height: 30px"/>
        </div>
        <div class="fitem" >
            <label>负责人：</label>
            <input id="s_responsibility_people" type="text" class="easyui-textbox" name="responsibility_people" style="width: 160px;height: 30px"/>
        </div>
        <div class="fitem" >
            <label>电话：</label>
            <input id="s_tel_no" type="text" class="easyui-textbox" name="tel_no" style="width: 160px;height: 30px"/>
        </div>
    </div>

</form>