
    <form id="seach_form" method="post">

        <div style="width: 351px;float:left;">


            <div class="fitem" >
                <label>设备编号：</label>
                <input id="s_device_no" type="text" class="easyui-textbox" name="device_no" style="width: 160px;height: 30px"/>
            </div>
            <div class="fitem" >
                <label>SIM卡号码：</label>
                <input id="s_simcard_no" type="text" class="easyui-textbox" name="simcard_no" style="width: 160px;height: 30px"/>
            </div>
        </div>

    </form>
